<%= form_for [@cluster], html: { class: "form-horizontal" } do |form| %>
  <fieldset>
    <div class="form-group">
      <%= form.label :name, 'Cluster Name', class: "col-lg-2 control-label" %>
      <div class="col-lg-2">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :api_version, 'API Version', class: "col-lg-2 control-label" %>
      <div class="col-lg-1">
        <%= form.text_field :api_version, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :url, 'URL', class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :url, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :use_ssl, 'Use SSL?', class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.check_box :use_ssl %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :username, class: "col-lg-2 control-label" %>
      <div class="col-lg-2">
        <%= form.text_field :username, class: "form-control" %>
      </div>
    </div>

    <%= render 'deploy_groups/deploy_group_select', form: form, hidden_field: 'kubernetes_cluster' %>


    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= form.submit @cluster.persisted? ? 'Save' : 'Create', class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: 'btn btn-default' %>
      </div>
    </div>
  </fieldset>
<% end %>
