<%= page_title "#{@project.name} Build Command" %>

<%= breadcrumb @project, "Build Command" %>

<section>
  <%= form_for @command, url: project_build_command_path(@project), html: { class: "form-horizontal", method: :patch } do |form| %>
    <%= render 'shared/errors', object: @command %>

    <div class="col-lg-offset-2">
      This command will be run before a new docker image is built.
      <%= form.text_area :command, size: '120x10' %>
    </div>

    <%= form.actions do %>
    | <%= link_to_history @command %>
    <% end %>
  <% end %>
</section>
