<% if changeset.commits.any? %>
  <p><%= changeset.commits.size %> commits by <%= pluralize changeset.authors.size, "author" %>.</p>

  <table class="table">
    <tbody>
    <% changeset.commits.each do |commit| %>
      <tr>
        <td>
          <% if url = commit.author&.avatar_url %>
            <%= image_tag url, width: 20, height: 20 %>
          <% end %>
        </td>
        <td><%= link_to_if commit.author.present?, commit.author_name, commit.author&.url %></td>
        <td><%= link_to commit.summary, commit.url %></td>
        <td align="right"><code><%= link_to commit.short_sha, commit.url %></code></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>There were no new commits in this deploy.</p>
<% end %>
