<p>Commit range: <code><%= link_to changeset.commit_range, changeset.commit_range_url %></code></p>
<% if changeset.error %>
  <p class="alert alert-warning"><%= changeset.error %></p>
<% end %>

<% if changeset.files.any? %>
  <table class="table changeset-files">
    <tbody>
    <% changeset.files.each do |file| %>
      <tr class="file-summary">
        <td>
          <%= file_status_label file.status %> &nbsp;
          <%= "#{file.previous_filename} → " if file.status == "renamed" %>
          <%= file.filename %>
        </td>
        <td align="right">
          <%= file_changes_label file.additions, "additions" %>
          <%= file_changes_label file.deletions, "deletions" %>
        </td>
      </tr>
      <tr class="file-diff" style="display:none">
        <td colspan="2"><pre><%= syntax_highlight file.patch, :diff %></pre></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>There were no new file changes in this deploy.</p>
<% end %>
