<p>Commit range: <code><%= link_to changeset.commit_range, changeset.github_url %></code></p>
<% if changeset.error %>
  <p class="alert alert-warning"><%= changeset.error %></p>
<% end %>

<% if changeset.last_commit_status.state == "pending" %>
  <p class="alert alert-warning">No status information available for the last commit.</p>
<% elsif changeset.last_commit_status.state == "failure" %>
  <p class="alert alert-warning">Warning. The last commit you're about to commit has a failure registered against it.</p>
<% end %>

<% if changeset.files.any? %>

  <table class="table changeset-files">
    <tbody>
    <% changeset.files.each do |file| %>
      <tr class="file-summary">
        <td><%= file_status_label file.status %> &nbsp; <%= file.filename %></td>
        <td align="right">
          <%= file_changes_label file.additions, "success" %>
          <%= file_changes_label file.deletions, "danger" %>
        </td>
      </tr>
      <tr class="file-diff" style="display:none">
        <td colspan="2"><pre><%= syntax_highlight file.patch, :diff %></pre></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>There were no new file changes in this deploy.</p>
<% end %>
