<% if changeset.pull_requests.any? %>
  <% changeset.pull_requests.each do |pr| %>
    <% if pr.risky? %>
      <h5><strong>#<%= pr.number %></strong> <%= link_to pr.title, pr.url %> <%= github_users(pr.users) %></h5>
      <%= markdown pr.risks %>
    <% elsif pr.missing_risks? %>
      <div>
        <% help_icon = additional_info(
            "Missing 'Risks' section or failed to parse risks (explicitly say 'None' to silence this warning)",
            class: 'glyphicon glyphicon-alert deployment-alert'
          )
        %>
        <h5><strong>#<%= pr.number %></strong> <%= link_to pr.title, pr.url %> <%= github_users(pr.users) %><%= help_icon %></h5>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>There were no pull requests in this deploy.</p>
<% end %>
