<%= breadcrumb @project, @macro %>

<%= page_title "Edit #{@macro.name}" %>

<section>
  <div class="row">
    <div class="col-lg-2 button-label">Actions</div>
    <div class="col-lg-6">
      <%= link_to 'Execute', execute_project_macro_path(@project, @macro), method: :post, class: 'btn btn-primary', data: { confirm: "Are you sure you have no unsaved changes and would like to execute '#{@macro.name}'?" } %>
      <%= link_to_delete_button [@project, @macro], disabled: (admin_for_project? && "Admins can delete macros") %>
    </div>
  </div>
  <%= render 'form', project: @project, macro: @macro %>
</section>
