<% title = "Environment variable groups" %>
<% max_display_variables = 5 %>
<% max_display_projects = 7 %>

<%= breadcrumb(title) %>

<% page_title title %>

<h1>
  <%= title %>
  <%= link_to 'Variables', environment_variables_path, class: 'pull-right' %>
</h1>

<section class="clearfix">
  <div class="pull-right">
    <%= link_to "New", new_environment_variable_group_path, class: "btn btn-default" %>
  </div>
  <div class="clearfix"></div>
  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>Environment Variable Group</th>
      <th>Projects</th>
      <th></th>
    </tr>
    </thead>
    <% @groups.each do |group| %>
      <% sorted_vars = group.variable_names %>
      <tr>
        <td>
          <%= link_to group.name, group %>
          <% if group.external_url? %>
            <br /><code><%= group.external_url %></code>
          <% else %>
            <%= unordered_list(sorted_vars, display_limit: max_display_variables, show_more_tag: link_to("+ #{sorted_vars.count - max_display_variables} More", group)) do |name| %>
              <code><%= name %></code>
            <% end %>
          <% end %>
        </td>
        <td><%= render 'projects', group: group, display_limit: max_display_projects %></td>
        <td>
          <% if group.projects.any? %>
            <%= link_to "Delete", "#", data: {confirm: "Cannot be deleted when still in use."} %>
          <% else %>
            <%= link_to_delete group %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
