<%= page_title "Kubernetes Cluster #{@cluster.name}" %>

<section class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">Name</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @cluster.name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Config filepath</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @cluster.config_filepath %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Description</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @cluster.description %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">URL</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @cluster.client.api_endpoint %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Context</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @cluster.config_context %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Deploy Groups</label>
    <div class="col-lg-4">
      <p class="form-control-static">
        <%= render 'deploy_group_list', deploy_groups: @cluster.deploy_groups %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Capacity</label>
    <div class="col-lg-8">
      <table>
        <tr><td></td><td>CPU</td><td>Memory</td></tr>
        <% nodes = @cluster.client.get_nodes rescue [] %>
        <% nodes.each do |node| %>
          <% capacity = node.dig(:status, :capacity) %>
          <tr>
            <td><%= node.dig(:metadata, :name) %></td>
            <td><%= capacity[:cpu] %></td>
            <td><%= capacity[:memory].to_i / 1024 / 1024 %>Gi</td>
          </tr>
        <% end %>
        <tr>
          <td>Total</td>
          <td><%= nodes.sum { |n| n.dig(:status, :capacity, :cpu).to_i } %></td>
          <td><%= nodes.sum { |n| n.dig(:status, :capacity, :memory).to_i / 1024 / 1024 } %>Gi</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= link_to "Edit", edit_admin_kubernetes_cluster_path(@cluster), class: "btn btn-primary" %>
      <%= link_to "Back", admin_kubernetes_clusters_path, class: "btn btn-default" %>
    </div>
  </div>
</section>
