<form ng-submit="submit($event)"  class="form-horizontal">
  <field_tagset>
    <div class='form-group'>
      <%= label_tag :name, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-4'>
        <%= text_field_tag :name, nil, class: 'form-control', 'ng-model': 'role.name' %>
      </div>
    </div>

    <div class='form-group'>
      <%= label_tag :config_file, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-4'>
        <%= text_field_tag :config_file, nil, class: 'form-control', 'ng-model': 'role.config_file' %>
      </div>
    </div>

    <div class='form-group'>
      <%= label_tag :service_name, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-4'>
        <%= text_field_tag :service_name, nil, class: 'form-control', 'ng-model': 'role.service_name' %>
      </div>
    </div>

    <div class='form-group'>
      <%= label_tag :ram, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-2'>
        <div class='input-group'>
          <%= text_field_tag :ram, nil, class: 'form-control', 'ng-model': 'role.ram' %>
          <span class='input-group-addon'>Mi</span>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <%= label_tag :cpu, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-2'>
        <div class='input-group'>
          <%= text_field_tag :cpu, nil, class: 'form-control', 'ng-model': 'role.cpu' %>
          <span class='input-group-addon'>cores</span>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <%= label_tag :replicas, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-1'>
        <%= text_field_tag :replicas, nil, class: 'form-control', 'ng-model': 'role.replicas' %>
      </div>
    </div>

    <div class='form-group'>
      <%= label_tag :deploy_strategy, nil, class: 'col-lg-2 control-label' %>
      <div class='col-lg-4'>
        <%= text_field_tag :deploy_strategy, nil, class: 'form-control', 'ng-model': 'role.deploy_strategy' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-lg-offset-2 col-lg-10'>
        <%= submit_tag action, class: 'btn btn-primary' %>
        <%= button_tag 'Cancel', class: 'btn btn-default', 'ng-click': 'cancel()' %>
      </div>
    </div>
  </field_tagset>
</form>
