<% if @deploy.kubernetes %>
  <div class="tab-pane" id="kubernetes_release">
    <% if release = @deploy.kubernetes_release %>
      <h2>Release #<%= @deploy.kubernetes_release.id %></h2>
      GIT: <%= release.git_ref %> @ <%= release.git_sha %><br/>

      <h3>Release docs</h3>
      <% release.release_docs.sort_by { |rd| DeployGroup.with_deleted{ rd.deploy_group&.name_sortable }}.each do |release_doc| %>
        <div>
          <h3><%= release_doc.deploy_group.name %> - <%= link_to release_doc.kubernetes_role.name, [@project, release_doc.kubernetes_role] %></h3>
          <pre><%= release_doc.resource_template.map(&:deep_stringify_keys).map(&:to_yaml).join("\n") %></pre>
        </div>
      <% end %>
    <% else %>
      Release not yet create, reload page.
    <% end %>
  </div>
<% end %>
