<% @kubernetes_role.resource_name ||= @project.permalink.tr('_', '-') + '-' %>
<%= form_for [@project, @kubernetes_role], html: { class: "form-horizontal" } do |form| %>
  <%= render 'shared/errors', object: @kubernetes_role %>

  <fieldset>
    <%= form.input :name %>
    <%= form.input :config_file %>
    <% if @project.override_resource_names? %>
      <%= form.input :service_name, help: "Override service name with this name. Uses name from yml file if it starts with this name." %>
      <%= form.input :resource_name,
          pattern: Kubernetes::RoleValidator::VALID_LABEL_VALUE,
          help: "Name for the resource this role will create (service/job), a-Z 0-9 and -"
      %>
    <% end %>
    <% if @kubernetes_role.manual_deletion_required? %>
      <div class="alert-danger">
        <%= form.input :manual_deletion_acknowledged, as: :check_box, label: "I will manually delete the changed resource/service from all deploy groups before deploying (this will cause a short outage, deleting after deploying will result in undefined behavior with 2 copies running)" %>
      </div>
    <% end %>

    <%= form.input :autoscaled, label: "Replicas managed externally", as: :check_box, help: "Deploying will not change replicas count. Use this when autoscaling deployments." %>
    <%= form.input :blue_green, as: :check_box, label: "Blue/Green Deployment", help: "Starts a new isolated deployment shifting between blue and green sufixes, switching service selectors if successfully deployed and deleting previous resources, all active resources must be deleted manually when switching this" %>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <% if current_user.admin_for?(@project) %>
          <%= form.submit @kubernetes_role.persisted? ? 'Save' : 'Create', class: "btn btn-primary" %>
          <%= link_to_delete [@project, @kubernetes_role], class: 'btn btn-default' if @kubernetes_role.persisted? %>
        <% end %>
        <%= link_to "Cancel", :back, class: 'btn btn-default' %>
        <%= link_to_history @kubernetes_role %>
      </div>
    </div>
  </fieldset>
<% end %>
