<% cache deploy do %>
  <tr>
  <td><%= link_to deploy.project.name, deploy.project %></td>
    <td><%= deploy.user.name %></td>
    <td>
      <%= content_tag :span, "Hotfix!", class: "label label-hotfix" if deploy.changeset.hotfix? %>
      <%= link_to deploy.summary, deploy.url %>
    </td>
    <td><%= render_time(deploy.start_time, params[:time_format]) %></td>
    <td><span class="label <%= status_label(deploy.status) %>"><%= deploy.status.titleize %></span></td>
  </tr>
<% end %>
