<% cache [@project, !!@stage, deploy, params[:time_format].presence || current_user.time_format  ] do %>
  <tr>
    <% unless @project %>
      <td><%= link_to deploy.project.name, deploy.project %></td>
    <% end %>
    <td><%= render_time(deploy.start_time, params[:time_format]) %></td>
    <td>
      <%= link_to "#{deploy.summary}", [@project || deploy.project, deploy] %>
    </td>
    <% unless @stage %>
      <td><%= link_to deploy.stage.name, [deploy.project, deploy.stage] %></td>
    <% end %>
    <td><%= job_status_badge deploy.job %></td>
  </tr>
<% end %>
