<tr>
	<td><%= link_to deploy.project.name, project_path(deploy.project) %></td>
	<td><%= link_to "#{deploy.summary}", project_deploy_path(deploy.project, deploy) %></td>
	<td><span class="label <%= deploy_status_for_label(deploy.status) %>"><%= deploy.status %></span></td>
	<td><%= link_to "View", project_deploy_path(deploy.project, deploy), class: "btn btn-default short-button" %></td>
</tr>
