<% cache [@project, !!@stage, deploy, params[:time_format].presence || current_user.time_format  ] do %>
  <tr>
    <% unless @project %>
      <% if deploy.stage.deleted? %>
        <td><%= deploy.project.name %> (Deleted)</td>
      <% else %>
        <td><%= link_to deploy.project.name, deploy.project %></td>
      <% end %>
    <% end %>
    <td><%= render_time(deploy.start_time) %></td>
    <td>
      <%= duration_text deploy.duration %>
      <% if deploy.active? && (eta = duration_text(deploy.stage.average_deploy_time).presence) %>
        <%= " (#{eta})" %>
      <% end %>
    </td>
    <td>
      <%= link_to deploy.summary, [@project || deploy.project, deploy] %>
    </td>
    <% unless @stage %>
      <% if deploy.stage.deleted? %>
        <td><%= deploy.stage.name %> (Deleted)</td>
      <% else %>
        <td><%= link_to deploy.stage.name, [deploy.project, deploy.stage] %></td>
      <% end %>
    <% end %>
    <td><%= status_badge deploy.job.status %></td>
  </tr>
<% end %>
