<h1>
  <%= @project.name %>

  <div class="pull-right">
    <% if deployer_for_project? %>
      <% unless @deploy.succeeded? || @deploy.active? %>
        <%= link_to "Redeploy", project_stage_deploys_path(@project, @deploy.stage, deploy: { reference: @deploy.reference }), method: :post, class: "btn btn-danger" %>
      <% end %>

      <% if @deploy.succeeded? && next_stage = @deploy.stage.next_stage %>
        <% unless next_stage.locked? %>
          <%= link_to "Deploy #{@deploy.short_reference} to #{next_stage.name}", new_project_stage_deploy_path(@project, next_stage, reference: @deploy.short_reference), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to "Back", @project, class: "btn btn-default" %>
  </div>
</h1>

<% if @deploy.finished? || deploy_running? || JobExecution.enabled %>
  <%= status_panel @deploy %>
  <%= Samson::Hooks.render_views(:deploys_header, self) %>
<% else %>
  <div class="alert alert-info">
    Samson is currently restarting, your deploy has been queued and will be resumed shortly.
  </div>

  <%= javascript_tag do %>
    waitUntilEnabled("<%= enabled_jobs_path %>");
  <% end %>
<% end %>
