<% if @project %>
  <% page_title "Deploys" %>
  <%= render 'projects/header', project: @project, tab: "deploys" %>
<% else %>
  <%= page_title "Deploys" %>
<% end %>

<section class="tabs deploy-search">
  <div class="row">
    <%= search_form top_pad: false do %>
      <div class="col-sm-2">
        <%= label_tag 'Deployer name' %>
        <%= text_field_tag 'search[deployer]', params.dig(:search, :deployer), class: "form-control" %>
      </div>

      <% if @project %>
        <div class="col-sm-2">
          <%= label_tag :git_sha %>
          <%= text_field_tag 'search[git_sha]', params.dig(:search, :git_sha), class: "form-control" %>
        </div>
      <% else %>
        <div class="col-sm-2">
          <%= label_tag :project %>
          <%= text_field_tag 'search[project_name]', params.dig(:search, :project_name), placeholder: 'project name', class: "form-control" %>
        </div>
      <% end %>

      <%= search_select :production, [["Yes", "true"], ["No", "false"]], size: 1 %>
      <%= search_select :code_deployed, [["Yes", "true"], ["No", "false"]], title: "Code deployed?", label: "Code", size: 1 %>
      <%= search_select :status, Job::VALID_STATUSES, size: 1 %>
      <%= search_select :group, Environment.env_deploy_group_array %>
      <%= search_select :time_format, User::TIME_FORMATS, selected: params.dig(:search, :time_format) || current_user.time_format, label: 'Time', size: 1 %>

      <details>
        <summary><%= label_tag :more %></summary>
        <br/>
        <br/>
        <br/>

        <div class="col-sm-1">
          <%= label_tag :deleted %>
          <%= check_box_tag 'search[deleted]', "Project,Stage,Deploy", params.dig(:search, :deleted) %>
        </div>

        <div class="col-md-2">
          <%= label_tag 'Started from' %>
          <%= text_field_tag 'search[created_at][]', params.dig(:search, :created_at, 0), placeholder: "YYYY-MM-DD HH:MM:SS", id: nil %>
        </div>

        <div class="col-md-2">
          <%= label_tag 'Started to' %>
          <%= text_field_tag 'search[created_at][]', params.dig(:search, :created_at, 1), placeholder: "YYYY-MM-DD HH:MM:SS", id: nil %>
        </div>
      </details>
    <% end %>
  </div>

  <section class="timeline-content clearfix">
    <div class="deploy-csv">
      <%= link_to "Download as CSV", deploys_path(format: "csv", params: params.to_unsafe_h) %>
    </div>
    <%= render "table" %>
  </section>
</section>
