<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Deploy</li>
</ol>

<% if global_lock? %>
  <div class="alert alert-warning">
    All deploys locked until further notice! Contact <%= global_lock.user.name %> for details.
  </div>
<% end %>

<%= form_for [@project, @deploy], html: { class: "form-horizontal" } do |form| %>
  <fieldset>
    <% if @deploy.errors.any? %>
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 alert alert-warning">
          <p><strong>Ooops!</strong> There was an error while trying to start the deploy:</p>
          <ul>
            <% @deploy.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :reference, "Tag or SHA", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :reference, class: "form-control", autofocus: true, placeholder: "e.g. v2.1.43, master, fa0b4671" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :stage_id, "Stage", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.collection_select :stage_id, @project.stages.unlocked, :id, :name, {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary" <%= 'disabled="disabled"' if global_lock? %>>
          Deploy
        </button>

        or <%= link_to "cancel", :back %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= javascript_tag do %>
  var timeout = null;
  var form_group = $('#deploy_reference').parent();

  function check_status(sha) {
    $.ajax({
      url: "<%= project_path(@project) %>/commit_statuses/" + sha,
      success: function(data, status, xhr) {
        if(data.status == 'pending') {
          form_group.addClass('has-warning');
        } else if(data.status == 'success') {
          form_group.addClass('has-success');
        } else if(data.status == 'failure' || data.status == 'error') {
          form_group.addClass('has-error');
        }
      }
    });
  }

  $('#deploy_reference').keyup(function() {
    form_group.removeClass('has-success has-warning has-error');

    var sha = $(this).val();

    if(timeout) {
      clearTimeout(timeout);
    }

    if(sha != '') {
      timeout = setTimeout(function() { check_status(sha); }, 200);
    }
  });
<% end %>
