<%= form_for [@project, @deploy], html: { class: "form-horizontal" } do |form| %>
  <fieldset>

    <div class="form-group">
      <%= form.label :reference, "Tag or SHA", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :reference, class: "form-control", placeholder: "e.g. v2.1.43, master, fa0b4671" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :stage_id, "Stage", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.collection_select :stage_id, @project.stages, :id, :name, {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-play"></span> Deploy!</button>
        or <%= link_to "cancel", :back %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= javascript_tag do %>
  var timeout = null;
  var form_group = $('#deploy_reference').parent();

  function check_status(sha) {
    $.ajax({
      url: "<%= project_path(@project) %>/commit_statuses/" + sha,
      success: function(data, status, xhr) {
        if(data.status == 'pending') {
          form_group.addClass('has-warning');
        } else if(data.status == 'success') {
          form_group.addClass('has-success');
        } else if(data.status == 'failure' || data.status == 'error') {
          form_group.addClass('has-error');
        }
      }
    });
  }

  $('#deploy_reference').keyup(function() {
    form_group.removeClass('has-success has-warning has-error');

    var sha = $(this).val();

    if(timeout) {
      clearTimeout(timeout);
    }

    if(sha != '') {
      timeout = setTimeout(function() { check_status(sha); }, 200);
    }
  });
<% end %>
