<%= page_title "Deploys" %>

<div class="timeline">
  <div class="row">
    <%= search_form do %>
      <div class="col-sm-2">
        <%= label_tag :deployer %>
        <%= text_field_tag 'search[deployer]', params.dig(:search, :deployer), placeholder: 'deployer name', class: "form-control" %>
      </div>

      <div class="col-sm-2">
        <%= label_tag :project %>
        <%= text_field_tag 'search[project_name]', params.dig(:search, :project_name), placeholder: 'project name', class: "form-control" %>
      </div>

      <%= search_select :production, ["true", "false"] %>
      <%= search_select :status, Job::VALID_STATUSES %>
      <%= search_select :time_format, User::TIME_FORMATS, selected: params.dig(:search, :time_format) || current_user.time_format %>
    <% end %>
  </div>

  <section class="timeline-content clearfix">
    <div class="deploy-csv">
      <%= link_to "Download as CSV", search_deploys_path(format: "csv", params: params.to_h) %>
    </div>
    <table class="timeline-content">
      <tr>
        <th>PROJECT</th>
        <th>LAST UPDATE</th>
        <th>DEPLOY</th>
        <th>STAGE</th>
        <th>STATUS</th>
      </tr>
      <tbody>
        <%= render partial: "projects/deploy", collection: @deploys %>
      </tbody>
    </table>
    <%= paginate @deploys %>
  </section>
</div>
