<% content_for :page_title, "#{@deploy.stage.name} deploy (#{@deploy.status}) - #{@project.name}" %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to @deploy.stage.name, project_stage_path(@project, @deploy.stage) %></li>
  <li class="active">Deploy #<%= @deploy.id %></li>
</ol>

<h1>
  <%= @project.name %>
  <div class="pull-right">
    <% unless @deploy.succeeded? || @deploy.running? %>
      <%= link_to "Redeploy", project_deploys_path(@project, deploy: { reference: @deploy.reference, stage_id: @deploy.stage_id }), method: :post, class: "btn btn-danger" %>
    <% end %>
    <%= link_to "Back", project_path(@project), class: "btn btn-default" %>
  </div>
</h1>

<%= deploy_status_panel @deploy %>

<ul id="deploy-tabs" class="nav nav-tabs" data-changeset-url="<%= changeset_project_deploy_url(@project, @deploy) %>">
  <li class="active"><a href="#output" data-toggle="tab">Output</a></li>
  <li><a href="#files" data-toggle="tab">Files</a></li>
  <li><a href="#commits" data-toggle="tab">Commits</a></li>
  <li><a href="#pulls" data-toggle="tab">Pull Requests</a></li>
  <li><a href="#risks" data-toggle="tab">Risks</a></li>
</ul>

<div class="tab-content deploy-details">
  <div class="tab-pane active" id="output">
    <%= render 'deploys/output', deploy: @deploy %>
  </div>

  <% %w(files commits pulls risks).each do |pane| %>
    <div class="tab-pane changeset-placeholder" id="<%= pane %>">
      <p>Loading...</p>
    </div>
  <% end %>
</div>

<% if @deploy.active? && JobExecution.enabled %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var messages = $("#messages");

      var source = new EventSource("<%= stream_deploy_path(@deploy.job) %>");

      var addLine = function(data) {
        var msg = JSON.parse(data).msg;
        messages.append(msg);
        messages.scrollTop(messages[0].scrollHeight);
      }

      source.addEventListener('append', function(e) {
        addLine(e.data);
      }, false);

      source.addEventListener('replace', function(e) {
        messages.children().last().remove();
        addLine(e.data);
      }, false);

      source.addEventListener('finished', function(e) {
        window.location.reload();
      }, false);

      $("#deploy_stop").on("click", function() {
        $.ajax("<%= project_deploy_path(@project, @deploy) %>", {
          type: 'DELETE'
        });
        event.preventDefault();
      });
    });
  <% end %>

  <button id="deploy_stop" class="btn btn-danger pull-right">Stop</button>
<% elsif !@deploy.finished? %>
  <div class="alert alert-info">
    Pusher is currently restarting, your deploy has been queued and will be resumed shortly.
  </div>

  <%= javascript_tag do %>
    function check_enabled() {
      $.ajax({
        url: "<%= enabled_jobs_path %>",
        success: function(data, status, xhr) {
          if(xhr.status == 204) {
            window.location.reload()
          }
        }
      });

      setTimeout(check_enabled, 5000);
    }

    $(document).ready(function() {
      check_enabled();
    });
  <% end %>
<% end %>
