<% content_for :page_title, "#{@deploy.stage.name} deploy (#{@deploy.status}) - #{@project.name}" %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to @deploy.stage.name, project_stage_path(@project, @deploy.stage) %></li>
  <li class="active">Deploy #<%= @deploy.id %></li>
</ol>

<div id="header">
  <%= render 'header' %>
</div>

<ul id="deploy-tabs" class="nav nav-tabs" data-changeset-url="<%= changeset_project_deploy_url(@project, @deploy) %>">
  <li class="active"><a href="#output" data-toggle="tab">Output</a></li>
  <li><a href="#files" data-toggle="tab">Files</a></li>
  <li><a href="#commits" data-toggle="tab">Commits</a></li>
  <li><a href="#pulls" data-toggle="tab">Pull Requests</a></li>
  <li><a href="#risks" data-toggle="tab">Risks</a></li>

<% if active? %>
  <li><a href="#viewers" data-toggle="tab" id="viewers-link">Viewers <span class="badge">0</span></a></li>

  <% if NewRelicApi.api_key.present? %>
    <li>
      <a href="#newrelic" id="newrelic-tab"
        data-enabled="<%= @deploy.stage.new_relic_applications.any? %>"
        data-url="<%= new_relic_project_stage_path(@project, @deploy.stage, format: :json) %>"
        data-interval="60000" data-toggle="tab">
      New Relic
      </a>
    </li>
  <% end %>
<% end %>
</ul>

<div class="tab-content deploy-details">
  <div class="tab-pane active" id="output">
    <%= render 'deploys/output', deploy: @deploy %>
  </div>

  <% %w(files commits pulls risks).each do |pane| %>
    <div class="tab-pane changeset-placeholder" id="<%= pane %>">
      <p>Loading...</p>
    </div>
  <% end %>

<% if active? %>
  <div class="tab-pane" id="viewers">
    No ther viewers.
  </div>

  <% if NewRelicApi.api_key.present? %>
    <div class="tab-pane" id="newrelic">
      <% if @deploy.stage.new_relic_applications.any? %>
        <div class="chart">
          <h2>Response Time</h2>
          <div id="newrelic-response-time"></div>
        </div>

        <div class="chart">
          <h2>Throughput</h2>
          <div id="newrelic-throughput"></div>
        </div>
      <% else %>
        No New Relic applications configured.
      <% end %>
    </div>
<% end %>
</div>

<% if active? %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var messages = $("#messages");

      var source = new EventSource("<%= deploy_stream_path(@deploy.job) %>");

      var addLine = function(data) {
        var msg = JSON.parse(data).msg;
        messages.append(msg);
        messages.scrollTop(messages[0].scrollHeight);
      }

      source.addEventListener('append', function(e) {
        addLine(e.data);
      }, false);

      source.addEventListener('viewers', function(e) {
        var users = JSON.parse(e.data);

        if(users.length > 0) {
          var viewers = $.map(users, function(user) {
            return user.name;
          }).join(', ') + '.';

          $('#viewers-link .badge').html(users.length);
          $("#viewers").html('Other viewers: ' + viewers);
        } else {
          $('#viewers-link .badge').html(0);
          $("#viewers").html('No other viewers.');
        }
      }, false);

      source.addEventListener('replace', function(e) {
        messages.children().last().remove();
        addLine(e.data);
      }, false);

      source.addEventListener('finished', function(e) {
        $('#header').html(JSON.parse(e.data).html);
        $('#deploy_stop').hide();
        source.close();
      }, false);

      $("#deploy_stop").on("click", function() {
        $.ajax("<%= project_deploy_path(@project, @deploy) %>", {
          type: 'DELETE'
        });
        event.preventDefault();
      });
    });
  <% end %>

  <% if current_user.is_deployer? %>
    <button id="deploy_stop" class="pull-right btn btn-danger">Stop</button>
  <% end %>
<% elsif !@deploy.finished? %>
  <div class="alert alert-info">
    Pusher is currently restarting, your deploy has been queued and will be resumed shortly.
  </div>

  <%= javascript_tag do %>
    function check_enabled() {
      $.ajax({
        url: "<%= enabled_jobs_path %>",
        success: function(data, status, xhr) {
          if(xhr.status == 204) {
            window.location.reload()
          }
        }
      });

      setTimeout(check_enabled, 5000);
    }

    $(document).ready(function() {
      check_enabled();
    });
  <% end %>
<% end %>
