<% content_for :page_title, "#{@deploy.stage.name} deploy (#{@deploy.status}) - #{@project.name}" %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to @deploy.stage.name, project_stage_path(@project, @deploy.stage) %></li>
  <li class="active">Deploy #<%= @deploy.id %></li>
</ol>

<h1>
  <%= @project.name %>
  <div class="pull-right">
    <% unless @deploy.succeeded? || @deploy.running? %>
      <%= link_to "Redeploy", project_deploys_path(@project, deploy: { reference: @deploy.reference, stage_id: @deploy.stage_id }), method: :post, class: "btn btn-danger" %>
    <% end %>
    <%= link_to "Back", project_path(@project), class: "btn btn-default" %>
  </div>
</h1>

<%= deploy_status_panel @deploy %>

<ul id="deploy-tabs" class="nav nav-tabs" data-changeset-url="<%= changeset_project_deploy_url(@project, @deploy) %>">
  <li class="active"><a href="#output" data-toggle="tab">Output</a></li>
  <li><a href="#files" data-type="github" data-toggle="tab">Files</a></li>
  <li><a href="#commits" data-type="github" data-toggle="tab">Commits</a></li>
  <li><a href="#pulls" data-type="github" data-toggle="tab">Pull Requests</a></li>
  <li><a href="#risks" data-type="github" data-toggle="tab">Risks</a></li>
  <li><a href="#newrelic" id="newrelic-tab" data-toggle="tab">NewRelic</a></li>
</ul>

<div class="tab-content deploy-details">
  <div class="tab-pane active" id="output">
    <%= render 'deploys/output', deploy: @deploy %>
  </div>

  <% %w(files commits pulls risks).each do |pane| %>
    <div class="tab-pane changeset-placeholder" id="<%= pane %>">
      <p>Loading...</p>
    </div>
  <% end %>

  <div class="tab-pane" id="newrelic">
    <div id="newrelic-response-time"></div>
    <div id="newrelic-throughput"></div>

    <%= javascript_tag do %>
      $(document).ready(function() {
        newrelic_loaded = false;
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
          if(e.target.id != 'newrelic-tab' || newrelic_loaded)
            return;

          newrelic_loaded = true;
          var response_chart = null;
          var throughput_chart = null;

          var apps = {};
          var times = [];

          function updateNewRelic() {
            $.ajax({
              url: '/newrelic.json',
              success: function(data, status, xhr) {
                times.push(data.time);
                for(var app_name in data.applications) {
                  var application = apps[app_name];

                  if(!application) {
                    application = apps[app_name] = {};
                    application.name = app_name;
                    application.response_time = [];
                    application.throughput = [];
                  }

                  application.response_time.push(data.applications[app_name].response_time);
                  application.throughput.push(data.applications[app_name].throughput);

                  if(times.length > 30) {
                    application.response_time.shift();
                    application.throughput.shift();
                  }
                }

                if(times.length > 30) {
                  times.shift();
                }

                var responses = [];
                var throughputs = [];

                for(var app in apps) {
                  app = apps[app];

                  responses.push([app.name].concat(app.response_time));
                  throughputs.push([app.name].concat(app.throughput));
                }

                if(!response_chart && !throughput_chart) {
                  response_chart = c3.generate({
                    bindto: '#newrelic-response-time',
                    data: {
                      x: 'time',
                      columns: [
                        ['time'].concat(times),
                      ].concat(responses),
                      axis: {
                        x: { type: 'timeseries' }
                      }
                    },
                  });

                  throughput_chart = c3.generate({
                    bindto: '#newrelic-throughput',
                    data: {
                      x: 'time',
                      columns: [
                        ['time'].concat(times)
                      ].concat(throughputs),
                      axis: {
                        x: { type: 'timeseries' }
                      }
                    }
                  });
                }

                response_chart.load({
                  columns: [
                    ['time'].concat(times),
                  ].concat(responses)
                });

                throughput_chart.load({
                  columns: [
                    ['time'].concat(times)
                  ].concat(throughputs)
                });
              }
            });
          }

          updateNewRelic();
          setInterval(updateNewRelic, 5000);
        });
      });
    <% end %>
  </div>
</div>

<% if @deploy.active? && JobExecution.enabled %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var messages = $("#messages");

      var source = new EventSource("<%= stream_deploy_path(@deploy.job) %>");

      var addLine = function(data) {
        var msg = JSON.parse(data).msg;
        messages.append(msg);
        messages.scrollTop(messages[0].scrollHeight);
      }

      source.addEventListener('append', function(e) {
        addLine(e.data);
      }, false);

      source.addEventListener('replace', function(e) {
        messages.children().last().remove();
        addLine(e.data);
      }, false);

      source.addEventListener('finished', function(e) {
        window.location.reload();
      }, false);

      $("#deploy_stop").on("click", function() {
        $.ajax("<%= project_deploy_path(@project, @deploy) %>", {
          type: 'DELETE'
        });
        event.preventDefault();
      });
    });
  <% end %>

  <% if current_user.is_deployer? %>
    <button id="deploy_stop" class="btn btn-danger pull-right">Stop</button>
  <% end %>
<% elsif !@deploy.finished? %>
  <div class="alert alert-info">
    Pusher is currently restarting, your deploy has been queued and will be resumed shortly.
  </div>

  <%= javascript_tag do %>
    function check_enabled() {
      $.ajax({
        url: "<%= enabled_jobs_path %>",
        success: function(data, status, xhr) {
          if(xhr.status == 204) {
            window.location.reload()
          }
        }
      });

      setTimeout(check_enabled, 5000);
    }

    $(document).ready(function() {
      check_enabled();
    });
  <% end %>
<% end %>
