<tr>
  <td><%= link_to build.nice_name, project_build_path(build.project, build) %></td>
  <% if @project %>
    <td><%= deployed_or_running_builds @project.stages, build %></td>
  <% else %>
    <td><%= link_to build.project.name, build.project %></td>
  <% end %>
  <td><%= render_time(build.created_at) %></td>
  <td><%= duration_text build.duration if build.duration %></td>
  <td><%= git_ref_and_sha_for(build) %></td>
  <td><%= build.image_name.presence || build.dockerfile %></td>
  <td><%= build_status_badge build %></td>
</tr>
