<tr>
  <td><%= link_to build.nice_name, project_build_path(build.project, build) %></td>
  <% unless @project %>
    <td><%= link_to build.project.name, build.project %></td>
  <% end %>
  <td><%= relative_time(build.created_at) %></td>
  <td><%= build.creator&.name || "Trigger" %></td>
  <td><%= git_ref_and_sha_for(build) %></td>
  <td><%= (job = build.docker_build_job) ? job_status_badge(job) : build.docker_status %></td>
</tr>
