<tr>
  <% unless @project %>
      <td><%= link_to build.project.name, build.project %></td>
  <% end %>
  <td><%= link_to build.id, project_build_path(build.project, build) %></td>
  <td><%= build.created_at %></td>
  <td><%= build.git_ref %></td>
  <td><%= short_sha build.git_sha %></td>
  <td><%= short_sha build.docker_sha %></td>
  <td><%= short_sha build.docker_status %></td>
</tr>
