<% page_title "Edit #{@build.nice_name}" %>

<%= breadcrumb @project, "Build" %>

<section>
  <%= form_for [@project, @build], html: { class: "form-horizontal" } do |form| %>
    <%= render 'shared/errors', object: @build %>

    <%= form.input :id do %>
      <p class="form-control-static"><%= @build.id %></p>
    <% end %>
    <%= form.input :created do %>
      <p class="form-control-static"><%= @build.created_at.to_s %></p>
    <% end %>
    <%= form.input :label %>
    <%= form.input :description, as: :text_area, input_html: { rows: 3 } %>
    <%= form.input :git_ref, label: 'Git Reference' do %>
      <p class="form-control-static"><%= git_ref_and_sha_for(@build) %></p>
    <% end %>
    <%= form.input :docker_repo_digest, label: 'Docker Digest' do %>
      <p class="form-control-static"><%= @build.docker_repo_digest %></p>
    <% end %>

    <%= form.actions %>
  <% end %>
</section>
