<% page_title "Builds" %>

<%= render 'projects/header', project: @project, tab: "builds" if @project %>

<section class="tabs">
  <div class="row">
    <%= search_form do %>
      <%= search_select :status, Job::VALID_STATUSES, size: 2 %>
      <%= search_select :time_format, User::TIME_FORMATS, selected: params.dig(:search, :time_format) || current_user.time_format, label: 'Time', size: 1 %>
      <% projects = Project.order(:name).pluck(:name, :id) %>
      <%= search_select :project_id, projects, live: true, label: "Project" %>
      <div class="col-sm-2">
        <%= label_tag :git_sha, "Git SHA (commit)" %><br/>
        <%= text_field_tag 'search[git_sha]', params.dig(:search, :git_sha), class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= label_tag :git_ref, "Git Reference" %><br/>
        <%= text_field_tag 'search[git_ref]', params.dig(:search, :git_ref), class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= label_tag :docker_repo_digest, "Docker Digest" %><br/>
        <%= text_field_tag 'search[docker_repo_digest]', params.dig(:search, :docker_repo_digest), class: "form-control" %>
      </div>
    <% end %>
  </div>

  <p class="pull-right">
    <% if @project && !@project.docker_image_building_disabled? %>
      <%= link_to "Edit Pre Build Command", project_build_command_path(@project), class: "btn btn-default"  %>
      <%= link_to "New", new_project_build_path(@project), class: "btn btn-default" %>
    <% end %>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <% if @project %>
        <th>Deployed to</th>
      <% else %>
        <th>Project</th>
      <% end %>
      <th>Created</th>
      <th>
        Duration
        <%= link_to_chart "Build duration", @builds.map(&:duration).compact %>
      </th>
      <th>Git Ref</th>
      <th></th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <%= render partial: "builds/build", collection: @builds, as: :build %>
    </tbody>
  </table>

  <%= paginate @pagy %>
</section>
