<% page_title "New Build" %>

<%= breadcrumb @project, "Build" %>

<section>
  <% data = {
      'commit-status-url' => project_commit_statuses_path(@project),
  }
  %>
  <%= form_for [@project, @build], html: { class: "form-horizontal" }, data: data do |form| %>
    <%= render 'shared/errors', object: @build %>

    <div class="form-group">
      <%= form.label :git_ref, "Git Reference", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <div class="scrollable-dropdown-menu">
          <%= form.text_field :git_ref,
              class: "form-control",
              autofocus: true,
              placeholder: "e.g. v2.1.43, master, fa0b4671",
              required: true,
              data: { prefetch_url: project_references_path(@project, format: "json") }
          %>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="ref-problem-warning" class="col-lg-10 popover show right alert alert-warning hidden" style="max-width: 100%">
          <div class="arrow" style="top: 20px"></div>

          <h3 class="popover-title">Problems detected:
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </h3>
          <div class="popover-content">
            <ul id="ref-problem-list"></ul>
          </div>
        </div>
      </div>
    </div>

    <%= form.input :dockerfile, input_html: {placeholder: 'Dockerfile'} %>
    <%= form.input :image_name %>
    <%= form.input :name %>
    <%= form.input :description, input_html: {row: 3} %>

    <%= Samson::Hooks.render_views(:build_new, self, form: form) %>

    <%= form.actions %>
  <% end %>
</section>
