<% cache job do %>
  <tr>
    <td><%= relative_time(job.created_at) %></td>
    <td>
      <%= link_to "#{job.user.name} executed:", [@project, job] %>
      <pre class="pre-command"><%= job.command %></pre>
    </td>
    <td><span class="label <%= status_label(job.status) %>"><%= job.status.titleize %></span></td>
  </tr>
<% end %>
