<h1><%= @project.name %></h1>

<% if current_user.is_deployer? %>
  <%= render partial: "shared/project_tabs",
    locals: { project: @project, active: "jobs" } %>
<% end %>

<section class="tabs">
  <table class="table">
    <thead>
      <tr>
        <th>When</th>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @jobs %>
    </tbody>
  </table>

  <%= link_to "Execute", new_project_job_path(@project), class: "btn btn-primary" %>
  <%= paginate @jobs %>
</section>
