<% content_for :page_title, job_page_title %>

<%= breadcrumb @project, "Job ##{@job.id}" %>

<div id="header" class="stream-header">
  <%= render 'header' %>

  <% if !job_active? && !@job.finished? %>
    <div class="alert alert-info">
      Samson is currently restarting, your job has been queued and will be resumed shortly.
    </div>

    <%= javascript_tag do %>
      waitUntilEnabled("<%= enabled_jobs_path %>");
    <% end %>
  <% end %>
</div>

<section>
  <div class="row" id="output" data-stream-url="<%= stream_path(@job) %>">
    <%= render partial: 'jobs/output', locals: { job: @job } %>
  </div>
</section>

<% if job_active? %>
  <%= javascript_tag do %>
    toggleOutputToolbar();
    startStream();
  <% end %>
<% end %>
