<% page_title job_page_title %>

<%= breadcrumb @project, "Job ##{@job.id}" %>

<h1>
  <%= @project.name %>
</h1>

<div id="header" class="stream-header">
  <% if @job.waiting_for_restart? %>
    <%= render 'jobs/restarting' %>
  <% else %>
    <%= render 'header' %>
  <% end %>
</div>

<section>
  <div class="row" id="output">
    <%= render 'shared/output', job: @job, deployable: @job, hide: false %>
  </div>
</section>

<%= render 'shared/output_stream', job: @job %>
