<h1>
  <%= project.name %>
  <div class="pull-right">
    <button class="btn btn-default">
      <%= link_to "Back", project_path(project) %>
    </button>
  </div>
</h1>

<pre id="messages" class="pre-scrollable log">
  <% job_history.log.split("\n").each do |log| %>
<%= render_log(log) %>
  <% end %>
</pre>

<% if (job_history.started? || job_history.running?) && job_history.user == current_user %>
  <%= form_for :job, url: url_for, method: :put, remote: true, html: { class: "form-inline" } do |form| %>
    <%= form.text_field :message, class: "form-control" %>
    <div id="job_actions">
      <button id="job_stop" class="btn btn-danger">Stop</button>
      <button class="btn btn-default">Submit</button>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-<%= job_history.failed?? "danger" : "success" %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= job_history.user.name %> deployed <%= job_history.sha %> on <%= job_history.environment %> at <%= job_history.created_at %>
  </div>
<% end %>

<%= javascript_tag do %>
  var messages = $("#messages");

  var source = new EventSource("<%= stream_job_path(job_history) %>");
  source.addEventListener('message', function(e) {
    if(e.data !== "") {
      messages.append(JSON.parse(e.data).msg + '\n');
      messages.scrollTop(messages[0].scrollHeight);
    }
  }, false);

  source.addEventListener('open', function(e) {
    // Connection was opened.
  }, false);

  source.addEventListener('error', function(e) {
    console.log("error", e);
    //if (e.readyState == EventSource.CLOSED) {
      // Connection was closed.
    //}
  }, false);

  $("form").on("ajax:complete", function() {
    $("#job_message").val("");
  });

  $("#job_stop").on("click", function() {
    $("#job_message").val("<%= Deploy::STOP_MESSAGE %>");
  });
<% end %>
