<% page_title job_page_title %>

<%= breadcrumb @project, "Job ##{@job.id}" %>

<h1>
  <%= @project.name %>

  <div class="pull-right">
    <%= link_to "Back", project_jobs_path(@project), class: "btn btn-default" %>
  </div>
</h1>

<div id="header" class="stream-header">
  <% if @job.waiting_for_restart? %>
    <%= render 'jobs/restarting' %>
  <% else %>
    <%= render 'header' %>
  <% end %>
</div>

<section>
  <div class="row" id="output" data-stream-url="<%= stream_path(@job) %>">
    <%= render 'shared/output', job: @job, deployable: @job, hide: false %>
  </div>
</section>

<%= render 'shared/output_stream', job: @job %>
