<%
   build ||= @kubernetes_release.build
   build_roles = build.try(:manifest_roles).present? ? build.manifest_roles : { 'server' => {} }
%>

<%= breadcrumb @project,
               ['Kubernetes', project_kubernetes_releases_path(@project)],
               "Kubernetes Release"
%>

<section>
  <%= form_for [@project, @kubernetes_release], html: { class: "form-horizontal" } do |form| %>
    <fieldset>
      <div class="form-group">
        <%= form.label :build_id, "Build", class: "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <% if build %>
            <%= form.hidden_field :build_id, value: build.id %>
            <%= build.project.name %> - <%= build.label %>
          <% else %>
            <%= form.select :build_id, @project.builds.order('id desc').limit(20).map { |b| [b.label, b.id] } %>
          <% end %>
        </div>
      </div>

      <%= render 'deploy_groups/deploy_group_select', form: form, hidden_field: 'pods' %>

      <div class="form-group">
        <%= form.label :replicas, "Num Replicas", class: "col-lg-2 control-label" %>
        <% build_roles.each do |role, role_hash| %>
          <div class="col-lg-1">
            <%= number_field_tag "replicas[#{role}]", 1, class: "form-control", min: 0 %>
          </div>
          <div class="col-lg-1">
            (<%= role %>)
          </div>
        <% end %>

      </div>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= form.submit "Create", class: "btn btn-primary" %>
          <%= link_to "Cancel", :back, class: 'btn btn-default' %>
        </div>
      </div>

    </fieldset>
  <% end %>
</section>
