<%
   title = "Release #{@release.id}"
   content_for :page_title, title
%>

<%= breadcrumb @project,
               ['Kubernetes Releases', kubernetes_releases_project_path(@project)],
               title
%>

<h1><%= title %></h1>

<section class="clearfix tabs">
  <dl class="dl-horizontal">
    <dt>Id</dt>
    <dd><%= @release.id  %></dd>

    <dt>Created</dt>
    <dd><%= @release.created_at  %></dd>

    <dt>Created By</dt>
    <dd><%= @release.user.name_and_email %></dd>
  </dl>

  <section class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-9">
        <%= render partial: 'kubernetes_release_doc/release_doc_row', collection: @release.release_docs, as: :release_doc %>
      </div>
    </div>
  </section>

</section>
