<fieldset>
  <legend>Slack</legend>

  <% stage = form.object %>
  <% stage.slack_webhooks.build %>

  <div class="col-lg-offset-2">
    <p>Details of the webhook to be notified on deploys.</p>

    <%= form.fields_for :slack_webhooks do |slack_fields| %>
      <div class="form-group">
        <div class="col-lg-4">
          <%= slack_fields.text_field :webhook_url, class: "form-control", placeholder: "Webhook URL" %>
        </div>

        <div class="col-lg-3">
          <%= slack_fields.text_field :channel, class: "form-control", placeholder: "Channel (optional)" %>
        </div>

        <% if slack_fields.object.persisted? %>
          <div class="col-lg-2 checkbox">
            <%= slack_fields.label :_destroy do %>
              <%= slack_fields.check_box :_destroy %>
              Destroy
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <div class="col-lg-2 checkbox">
          <%= slack_fields.label :before_deploy do %>
            <%= slack_fields.check_box :before_deploy%>
            Before Deploy
          <% end %>
        </div>

        <div class="col-lg-2 checkbox">
          <%= slack_fields.label :after_deploy do %>
            <%= slack_fields.check_box :after_deploy%>
            After Deploy
          <% end %>
        </div>

        <div class="col-lg-3 checkbox">
          <%= slack_fields.label :for_buddy do %>
            <%= slack_fields.check_box :for_buddy%>
            For Buddy Approval
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
