<div class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "Samson", root_path, class: "navbar-brand" %>

    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="dropdown <%= 'active' if request.path.starts_with?('/projects') %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" focus-on="{ click: '#project_search' }">Projects <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a class="padding-sm">
                <input id="project_search" type="search" handle-dropdown-selection class="filter-list form-control input-block" placeholder="Search projects" data-target=".filtered-projects">
              </a>
            </li>
            <li class="divider"></li>
            <% Project.ordered_for_user(current_user).each do |project| %>
              <li class="filtered-projects">
                <%= link_to project do %>
                  <% starred = current_user.starred_project?(project) %>
                  <span class="glyphicon <%= 'glyphicon-star' if starred %>">
                    <%= '&nbsp;'.html_safe unless starred %>
                  </span>
                  <%= project.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if DeployGroup.enabled? %>
          <li class="dropdown <%= 'active' if request.path.starts_with?('/dashboards') %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Environments <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% environments.each do |env| %>
                <li>
                  <%= link_to dashboard_path(env) do %>
                    <span class="glyphicon">&nbsp;</span> <%= env.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="<%= 'active' if current_page?(controller: '/deploys', action: 'search') %>">
          <%= link_to "Deploys", search_deploys_path %>
        </li>
        <li class="current-deploys <%= 'active' if current_page?(controller: '/deploys', action: 'active') %>" ng-controller="currentDeployBadgeCtrl">
          <%= link_to active_deploys_path do %>
            Deploying
            <%= content_tag(:span, '{{ currentActiveDeploys }}', class: 'badge badge-deploys', style: 'display: none', id: 'currentDeploysBadge') %>
          <% end %>
        </li>
      <% end %>

      <% if current_user.try(:admin?) %>
        <li class="dropdown <%= 'active' if request.path.starts_with?('/admin') %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if DeployGroup.enabled? %>
              <li><%= link_to "Environments", admin_environments_path %></li>
              <li><%= link_to "Deploy Groups", admin_deploy_groups_path %></li>
            <% end %>
            <li><%= link_to "Projects", admin_projects_path %></li>
            <li><%= link_to "Commands", admin_commands_path %></li>
            <li><%= link_to "Users", admin_users_path %></li>
            <li><%= link_to "Secrets", admin_secrets_path %></li>
            <%= Samson::Hooks.render_views(:admin_menu, self) %>
          </ul>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <% if current_user %>
        <li class="dropdown profile">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.gravatar_url, class: "gravatar" %>
            <%= current_user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", profile_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
