<ul class="nav nav-tabs">
  <li class="<%= 'active' if active == 'overview' %>">
    <%= link_to "Overview", project %>
  </li>
  <% if project.manage_releases? %>
    <li class="<%= 'active' if active == 'releases' %>">
      <%= link_to "Releases", project_releases_path(project) %>
    </li>
  <% end %>
  <% if project.deploy_with_docker? %>
    <li class="<%= 'active' if active == 'builds' %>">
      <%= link_to "Builds", project_builds_path(project) %>
    </li>
  <% end %>
  <li class="<%= 'active' if active == 'deploys' %>">
    <%= link_to "Deploys", project_deploys_path(project) %>
  </li>
  <li class="<%= 'active' if active == 'jobs' %>">
    <%= link_to "Jobs", project_jobs_path(project) %>
  </li>
  <li class="<%= 'active' if active == 'macros' %>">
    <%= link_to "Macros", project_macros_path(project) %>
  </li>
  <li class="<%= 'active' if active == 'stages' %>">
    <%= link_to "Stages", project_stages_path(project) %>
  </li>
  <li class="<%= 'active' if active == 'webhooks' %>">
    <%= link_to "Webhooks", project_webhooks_path(project) %>
  </li>
  <li class="<%= 'active' if active == 'changelog' %>">
    <%= link_to "Changelog", project_changelog_path(project) %>
  </li>
<% if is_user_admin_for_project? %>
  <li class="<%= 'active' if active == 'settings' %>">
    <%= link_to "Settings", edit_project_path(project) %>
  </li>
  <%= Samson::Hooks.render_views(:project_tabs_view, self, { project: @project, active: active }) %>
<% end %>
</ul>
