<div class="latest-deploys row">
  <div class="col-sm-12">
    <div class="row">
      <h1 class="col-sm-12">Latest deploys</h1>
    </div>

    <div class="row timeline">
      <table class="col-sm-12 timeline-content table">
        <thead>
        <tr>
          <% unless @project %>
            <th>Project</th>
          <% end %>
          <th>Started</th>
          <th>
            Duration
            <%= link_to_chart "#{@project&.name || @stage&.name} Deploy duration", @deploys.map(&:duration) %>
          </th>
          <th>Deploy</th>
          <% unless @stage %>
            <th>Stage</th>
          <% end %>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "deploys/deploy", collection: @deploys %>
        </tbody>
      </table>
    </div>
    <%= link_to "View all", deploys_path, class: "button info pull-right" %>
  </div>
</div>

<div class="row">
  <%= render "starred-projects" %>
  <%= render "ra-status" %>
</div>

