<%= render 'projects/header', project: @project, tab: "webhooks" %>

<section class="tabs">
  <p>In order to automatically trigger a deploy to a stage, add a branch &rarr; stage mapping below
  and paste in the project's webhook URL to your CI service of choice.</p>

  <dl>
    <dt>Semaphore:</dt><dd><%= link_to_url integrations_semaphore_deploy_url(@project.token) %></dd>
    <dt>Tddium:</dt><dd><%= link_to_url integrations_tddium_deploy_url(@project.token) %></dd>
    <dt>Travis:</dt><dd><%= link_to_url integrations_travis_deploy_url(@project.token) %></dd>
    <dt>Jenkins:</dt><dd><%= link_to_url integrations_jenkins_deploy_url(@project.token) %></dd>
    <dt>Buildkite:</dt><dd><%= link_to_url integrations_buildkite_deploy_url(@project.token) %></dd>
    <dt>Github Push:</dt><dd><%= link_to_url integrations_github_deploy_url(@project.token) %></dd>
  </dl>

  <% if @webhooks.any? %>
    <h2>Webhooks mappings</h2>
    <ul>
      <% @webhooks.each do |webhook| %>
        <li><strong><%= webhook.branch %></strong> branch &rarr; <strong><%= webhook.stage.name %></strong> stage (<%= link_to "remove", project_webhook_path(@project, webhook), method: :delete %>)</li>
      <% end %>
    </ul>
  <% end %>

  <h2>Add webhook mapping</h2>
  <%= form_for :webhook, url: project_webhooks_path(@project), html: { class: "form-inline" } do |form| %>
    <div class="form-group">
      <%= form.text_field :branch, class: "form-control", placeholder: "Branch" %>
    </div>

    &rarr;

    <div class="form-group">
      <%= form.collection_select :stage_id, @project.stages, :id, :name, {}, class: "form-control" %>
    </div>

    <%= form.submit "Add webhook", class: "btn btn-primary" %>
  <% end %>
</section>
