<h1>Webhooks for <%= @project.name %></h1>

<p>In order to automatically trigger a deploy to a stage, add a branch &rarr; stage mapping below
and paste in the project's webhook URL to your CI service of choice.</p>

<dl>
  <dt>Semaphore:</dt><dd><%= link_to semaphore_deploy_url(@project.token) %></dd>
  <dt>Tddium:</dt><dd><%= link_to tddium_deploy_url(@project.token) %></dd>
  <dt>Travis:</dt><dd><%= link_to travis_deploy_url(@project.token) %></dd>
</dl>

<h4>Webhooks mappings</h4>
<ul>
  <% @webhooks.each do |webhook| %>
    <li><strong><%= webhook.branch %></strong> branch &rarr; <strong><%= webhook.stage.name %></strong> stage (<%= link_to "remove", project_webhook_path(@project, webhook), method: :delete %>)</li>
  <% end %>
</ul>

<h4>Add webhook mapping</h4>
<%= form_for :webhook, url: project_webhooks_path(@project), html: { class: "form-inline" } do |form| %>
  <div class="form-group">
    <%= form.text_field :branch, class: "form-control", placeholder: "Branch" %>
  </div>

  &rarr;

  <div class="form-group">
    <%= form.collection_select :stage_id, @project.stages, :id, :name, {}, class: "form-control" %>
  </div>

  <%= form.submit "Add webhook", class: "btn btn-primary" %>
<% end %>
