<%= render 'projects/header', project: @project, tab: "webhooks" %>

<section class="tabs">
  <p>In order to automatically trigger a deploy to a stage, add a branch &rarr; stage mapping below
  and paste in the project's webhook URL to your CI service of choice.</p>

  <dl>
    <% @sources.each do |source| %>
    <dt><%= source.titleize %>:</dt><dd><%= link_to_url(send("integrations_#{source}_deploy_url", @project.token)) %></dd>
    <% end %>
  </dl>

  <% if @webhooks.any? %>
    <h2>Webhooks mappings</h2>
    <ul>
      <% @webhooks.each do |webhook| %>
        <li><strong><%= webhook.branch %></strong> branch &rarr; <strong><%= webhook.stage.name %></strong> stage for: <%= webhook.source.humanize %> (<%= link_to "remove", [@project, webhook], method: :delete %>)</li>
      <% end %>
    </ul>
  <% end %>

  <h2>Add webhook mapping</h2>
  <%= form_for :webhook, url: project_webhooks_path(@project), html: { class: "form-inline" } do |form| %>
    <div class="form-group">
      <%= form.text_field :branch, class: "form-control", placeholder: "Branch" %>
    </div>

    &rarr;

    <div class="form-group">
      <%= form.collection_select :stage_id, @project.stages, :id, :name, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.select :source, [['Any CI', 'any_ci'], ['Any code push', 'any_code'], ['Any', 'any']] +
        @sources.map {|source| [ source.titleize, source ]}.to_a, {}, class: "form-control" %>
    </div>

    <%= form.submit "Add webhook", class: "btn btn-primary" %>
  <% end %>
</section>
