<h1>Semaphore webhook for <%= @project.name %></h1>

<dl>
  <dt>Branch:</dt>
  <dd><%= @webhook.branch %></dd>

  <dt>Stage:</dt>
  <dd><%= @webhook.stage.name %></dd>

  <dt>Endpoint:</dt>
  <dd><%= link_to semaphore_deploy_url(@project.token) %></dd>
</dl>


(<%= link_to "Remove", project_webhook_path(@project, @webhook), method: :delete %>)
