<%= form_for [@project, @task], html: { class: "form-horizontal" } do |form| %>
  <%= render 'shared/errors', object: @task %>

  <fieldset>
    <div class="form-group">
      <%= form.label :name, 'Name', class: "col-lg-2 control-label" %>
      <div class="col-lg-2">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :config_file, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :config_file, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <% if current_user.admin_for?(@project) %>
          <%= form.submit @task.persisted? ? 'Save' : 'Create', class: "btn btn-primary" %>
          <%= link_to_delete [@project, @task], 'Delete', class: 'btn btn-default' if @task.persisted? %>
        <% end %>
        <%= link_to "Cancel", :back, class: 'btn btn-default' %>
      </div>
    </div>
  </fieldset>
<% end %>
