<%=
  type = params.dig(:search, :auditable_type).presence
  id = params.dig(:search, :auditable_id).presence
  global = (!type || !id)
  page_title(global ? "Audits" : "Audits for #{type} #{id}")
%>

<%= search_form do %>
  <%= search_select :action, ["create", "update", "destroy"] %>
  <%= search_select :auditable_type, audited_classes.sort, label: "Resource" %>
  <%= search_select :user_id, User.pluck(:name, :id), live: true, label: "By" %>
  <div class="col-sm-2">
    <%= label_tag 'Changed Key' %>
    <%= text_field_tag 'search[key]', params.dig(:search, :key), class: "form-control" %>
  </div>
  <div class="col-sm-2">
    <%= label_tag 'Changed Value' %>
    <%= text_field_tag 'search[value]', params.dig(:search, :value), class: "form-control" %>
  </div>
<% end %>

<%= render 'table', audits: @audits, global: global %>
