<%=
  type = params.dig(:search, :auditable_type).presence
  id = params.dig(:search, :auditable_id).presence
  global = (!type || !id)
  page_title(global ? "Audits" : "Audits for #{type} #{id}")
%>

<%= search_form do %>
  <%= search_select :action, ["create", "update", "destroy"] %>
  <%= search_select :auditable_type, audited_classes.sort, label: "Resource" %>
  <%= search_select :user_id, User.pluck(:name, :id), live: true, label: "By" %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>Action</th>
    <th>By</th>
    <th>Changed</th>
  </tr>
  </thead>
  <tbody>
  <% @audits.each do |audit| %>
    <tr>
      <td><%= audit.action %></td>
      <td>
        <% if global %>
          <%= (begin; audit.auditable;rescue NameError;end) ? link_to_resource(audit.auditable) : "#{audit.auditable_type} #{audit.auditable_id}" %>
          by
          <br/>
        <% end %>

        <% case audit.user %>
        <% when String %>
          <%= audit.user %>
          <%= additional_info "System event" %>
        <% when User %>
          <%= link_to_resource(audit.user) %>
        <% else %>
          <%= "User##{audit.user_id}" if audit.user_id %>
        <% end %>
        <br/>

        <%= render_time audit.created_at %>
        <%= additional_info "From #{audit.remote_address} request #{audit.request_uuid}" %>
      </td>
      <td>
        <% audit.audited_changes.to_a.each do |column, (before, after)| %>
          <%= column %>:
          <% if audit.action == "update" # others are just attribute hashes %>
            <%= readable_ruby_value before %> → <%= readable_ruby_value after %>
          <% else %>
            <%= readable_ruby_value before %>
          <% end %>
          <br/>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @audits %>
