<%=
  type = params.dig(:search, :auditable_type).presence
  id = params.dig(:search, :auditable_id).presence
  global = (!type || !id)
  page_title(global ? "Audits" : "Audits for #{type} #{id}")
%>

<%= search_form do %>
  <%= search_select :action, ["create", "update", "destroy"] %>
  <%= search_select :auditable_type, audited_classes.sort, label: "Resource" %>
  <%= search_select :user_id, User.pluck(:name, :id), live: true, label: "By" %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>Action</th>
    <th>By</th>
    <th>Changed</th>
  </tr>
  </thead>
  <tbody>
  <% @audits.each do |audit| %>
    <tr>
      <td><%= audit.action %></td>
      <td>
        <% if global %>
          <%= (begin; audit.auditable;rescue NameError;end) ? link_to_resource(audit.auditable) : "#{audit.auditable_type} #{audit.auditable_id}" %>
          by
          <br/>
        <% end %>

        <%= audit_author audit %>
        <br/>

        <%= render_time audit.created_at %>
        <%= additional_info "From #{audit.remote_address} request #{audit.request_uuid}" %>
      </td>
      <td>
        <% audit.audited_changes.to_a.each do |column, (before, after)| %>
          <%= column %>:
          <% if audit.action == "update" # others are just attribute hashes %>
            <% if before.is_a?(String) && after.is_a?(String) && (before + after).count("\n").nonzero? %>
              <%= text_diff before, after %>
              <summary>
                <details>
                  Before:<br/>
                  <%= simple_format readable_ruby_value before %>
                  <br/>
                  After:<br/>
                  <%= simple_format readable_ruby_value after %>
                </details>
              </summary>
            <% else %>
              <%= readable_ruby_value before %> → <%= readable_ruby_value after %>
            <% end %>
          <% else %>
            <%= readable_ruby_value before %>
          <% end %>
          <br/>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @audits %>

<style><%= Diffy::CSS %></style>
