<%= page_title "Audits for #{params[:search][:auditable_type]} #{params[:search][:auditable_id]}" %>

<table class="table">
  <thead>
  <tr>
    <th>Action</th>
    <th>By</th>
    <th>Changed</th>
  </tr>
  </thead>
  <tbody>
  <% @audits.each do |audit| %>
    <tr>
      <td><%= audit.action %></td>
      <td>
        <% case audit.user %>
        <% when String %>
          <%= audit.user %>
          <%= additional_info "System event" %>
        <% when User %>
          <%= link_to_resource(audit.user) %>
        <% else %>
          <%= "User##{audit.user_id}" if audit.user_id %>
        <% end %>
        <br/>
        <%= audit.created_at.to_s :db %>
        <%= additional_info "From #{audit.remote_address} request #{audit.request_uuid}" %>
      </td>
      <td>
        <% audit.audited_changes.to_a.each do |column, (before, after)| %>
          <%= column %>:
          <% if audit.action == "create" %>
            <%= before.inspect %>
          <% else %>
            <%= readable_ruby_value before %> → <%= readable_ruby_value after %>
          <% end %>
          <br/>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @audits %>
