<%= form_for project, url: url_for(project), html: { class: "form-horizontal" }, method: project_form_method do |form| %>
  <fieldset>
    <legend><%= project_form_legend %></legend>

    <div class="form-group">
      <%= form.label :name, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>

    <%= form.fields_for :stages do |stage_fields| %>
      <%= render 'stages/fields', form: stage_fields %>
    <% end %>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </fieldset>
<% end %>
