<%= form_for project, html: { class: "form-horizontal" } do |form| %>
  <%= render 'shared/errors', object: project %>

  <fieldset>
    <div class="form-group">
      <%= form.label :name, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_area :description, class: "form-control" %>
        <p class="help-block">How would you explain the project to someone new?</p>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :Contact, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :owner, class: "form-control" %>
        <p class="help-block">An email or group to contact with questions.</p>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :repository_url, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :repository_url, class: "form-control" %>
      </div>
    </div>

    <% if project.persisted? %>
      <div class="form-group">
        <%= form.label :permalink, class: "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <%= form.text_field :permalink, class: "form-control" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :release_branch, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :release_branch, class: "form-control" %>
        <div id="docker_release_push">
          <%= form.check_box :auto_release_docker_image  %>
          <%= form.label :auto_release_docker_image, 'Auto push docker images' %>
        </div>

        <p class="help-block">New commits on this branch will cause a release when a webhook arrives.</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-4">
        <%= form.check_box :include_new_deploy_groups %>
        <%= form.label :include_new_deploy_groups, 'Include in New Deploy Groups'%>
      </div>
    </div>

    <% if ENV['DOCKER_FEATURE'] %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= form.check_box :deploy_with_docker %>
          <%= form.label :deploy_with_docker, 'Deploy with Docker' %>
        </div>
      </div>
    </div>
    <% end %>

    <%= Samson::Hooks.render_views(:project_form, self, form: form) %>

    <% unless project.persisted? %>
      <%= form.fields_for :stages do |stage_fields| %>
        <%= render 'stages/fields', form: stage_fields %>
      <% end %>
    <% end %>

    <hr>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </fieldset>
<% end %>
