<%= form_for project, html: { class: "form-horizontal" } do |form| %>
  <div class="pull-right">
    <%= link_to_history @project %>
  </div>

  <%= render 'shared/errors', object: project %>

  <fieldset>
    <%= form.input :name, required: true %>
    <%= form.input :description, as: :text_area, help: 'How would you explain the project to someone new?' %>
    <%= form.input :owner, label: 'Contact', help: 'An email or group to contact with questions.' %>
    <%= form.input :repository_url, required: true %>
    <%= form.input :permalink, required: true if project.persisted? %>
    <%= form.input :release_branch, help: 'New commits on this branch will cause a release when a webhook arrives.' %>
    <%= form.input :release_source, help: 'Selects which type of webhook will create a release' do %>
      <%= form.collection_select :release_source, webhook_sources_for_select(Samson::Integration::SOURCES, none: true), :second, :first, {}, class: "form-control" %>
    <% end %>
    <% if ENV['DOCKER_FEATURE'] %>
      <%= form.input :docker_release_branch, help: 'New commits on this branch will cause a docker image to be built when a webhook arrives.' %>
    <% end %>
    <% if DeployGroup.enabled? %>
      <%= form.input :include_new_deploy_groups, as: :check_box, label: 'Include in New Deploy Groups', help: 'The "Create all stages" button for a deploy group will create a stage for this project.' %>
    <% end %>
    <%= render 'shared/dashboard_field', form: form %>

    <%= Samson::Hooks.render_views(:project_form, self, form: form) %>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </fieldset>
<% end %>
