<h1 class="project-title">
  <%= star_for_project(project) %>
  <%= project.name %>
  <%= repository_web_link(project) %>
</h1>

<%= render_locks @project %>

<div class="project-lock-buttons">
  <%= render "locks/button", resource: @project %>
</div>

<%= render "shared/project_tabs", project: project, active: tab %>
