<h1 class="project-title">
  <%= star_for_project(project) %>
  <%= project.name %>
  <%= repository_web_link(project) %>
</h1>

<div class="project-lock-buttons">
  <%= render "locks/button", lock: project.lock, resource: @project %>
</div>

<%= render "shared/project_tabs", project: project, active: tab %>
