<% cache project do %>
  <div class="col-sm-4 project-tile">
    <h2>
      <%= link_to project.name, project %>
      <%= render partial: 'shared/github_link', locals: { project: project } %>
    </h2>
    <ul>
      <% project.stages.each do |stage| %>
        <% cache [project.to_param, stage] do %>
          <li class="<%= 'locked' if stage.locked? %>">
            <%= link_to stage.name, [project, stage], class: 'stage-link' %>
            <%= content_tag :span, 'Deploying', class: 'label label-primary' if stage.currently_deploying? %>
            <%= content_tag :i, '', class: 'fa fa-lock', title: stage.lock.summary if stage.locked? %>

            <div class="pull-right">
              <% if stage.last_deploy.try(:failed?) %>
                <%= link_to [project, stage.last_deploy], class: 'no-hover' do %>
                  <%= content_tag :i, '', class: 'fa fa-exclamation-triangle deployment-alert',
                                  title: deployment_alert_title(stage.last_deploy) %>
                <% end %>
              <% end %>

              <% if stage.last_successful_deploy %>
                <%= link_to stage.last_successful_deploy.short_reference,
                            [project, stage.last_successful_deploy],
                            class: "status label #{deploy_status(stage.last_successful_deploy.status, 'label')}" %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
