<div class="col-sm-4">
  <div class="project-tile">
    <h2><%= link_to project.name, project_path(project) %></h2>
    <ul>
      <% project.stages.each do |stage| %>
        <li>
          <%= link_to stage.name, project_stage_path(project, stage), class: "stage-link" %>
          <%= content_tag :span, "Deploying", class: "label label-primary" if stage.currently_deploying? %>
          <%= content_tag :span, "Locked", class: "label label-warning" if stage.locked? %>

          <%= link_to stage.last_deploy.reference[0...10].titleize,
                      project_deploy_path(project, stage.last_deploy),
                      class: "status pull-right label #{deploy_status_for_label(stage.last_deploy.status)}" if stage.last_deploy %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
