<% cache project do %>
  <div class="col-sm-4 project-tile">
    <h2>
      <%= link_to project.name, project_path(project) %>
      <%= render partial: 'shared/github_link', locals: { project: project } %>
    </h2>
    <ul>
      <% project.stages.each do |stage| %>
        <% cache stage do %>
          <li class="<%= 'locked' if stage.locked? %>">
            <%= link_to stage.name, project_stage_path(project, stage), class: 'stage-link' %>
            <%= content_tag :span, 'Deploying', class: 'label label-primary' if stage.currently_deploying? %>
            <%= content_tag :i, '', class: 'fa fa-lock', title: stage.lock.summary if stage.locked? %>

            <% if stage.last_deploy and stage.last_deploy.failed? %>
                <%= link_to project_deploy_path(project, stage.last_deploy) do %>
                    <%= content_tag :i, '', class: 'fa fa-exclamation-triangle deployment-alert pull-right',
                              data: deployment_alert_data(project, stage) %>
                <% end %>
            <% end %>

            <% if stage.last_successful_deploy %>
              <%= link_to stage.last_successful_deploy.short_reference,
                          project_deploy_path(project, stage.last_successful_deploy),
                          class: "status pull-right label #{deploy_status(stage.last_successful_deploy.status, 'label')}" %>
            <% end %>


          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
