<div class="col-6 col-sm-4 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <% if current_user.is_admin? %>
        <%= link_to new_project_lock_path(project), class: "pull-left", title: "Lock this project" do %>
          <i class="glyphicon glyphicon-lock"></i>
        <% end %>
      <% end %>

      <% if current_user.is_deployer? %>
        <%= link_to project_path(project), class: "pull-right", title: "Kick off a deploy" do %>
          <i class="glyphicon glyphicon-play-circle"></i>
        <% end %>
      <% end %>

      <%= project.name %>
    </div>

    <div class="panel-body">
      <% project.job_locks.each do |lock| %>
        <p>
          Locked for <%= lock.environment %>
          <% if lock.job_history %>
            by a <%= link_to "running job", project_job_path(project, lock.job_history) %>
          <% else %>
            until <%= lock.expires_at %>
          <% end %>
        </p>
      <% end %>

      <% if last_n(project) > 0 %>
        <p>Last <%= last_n(project) %> deploy(s):</p>
        <ul class="job-history">
          <% project.job_histories.limit(last_n(project)).each do |job| %>
            <li class="<%= job_state_class(job) %>">
              <%= link_to "#{job.sha} to #{job.environment} by #{job.user.name}", project_job_path(project, job) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
