<div class="col-6 col-sm-4 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <% if current_user.is_deployer? %>
        <%= link_to project_path(project), class: "pull-right", title: "Kick off a deploy" do %>
          <i class="glyphicon glyphicon-play-circle"></i>
        <% end %>
      <% end %>

      <%= project.name %>
    </div>

    <div class="panel-body">
      <% if last_n(project.deploys) > 0 %>
        <p>Last <%= last_n(project.deploys) %> deploy(s):</p>
        <ul class="job-history">
          <% project.deploys.limit(last_n(project.deploys)).each do |deploy| %>
            <li class="<%= job_state_class(deploy) %>">
              <%= link_to "#{deploy.commit} to #{deploy.stage.name} by #{deploy.user.name}", project_deploy_path(project, deploy) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
