<div class="col-6 col-sm-4 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <% if current_user.is_deployer? %>
        <%= link_to new_project_deploy_path(project), class: "pull-right", title: "Kick off a deploy" do %>
          <i class="glyphicon glyphicon-play-circle"></i>
        <% end %>
      <% end %>

      <%= link_to project.name, project_path(project) %>
    </div>

    <div class="panel-body">
      <%- latest_deploys = project.deploys.latest(5) %>
      <% if latest_deploys.any? %>
        <p>Last <%= latest_deploys.count > 1 ? "#{latest_deploys.count} deploys" : 'deploy' %>:</p>
        <ul class="job-history">
          <% latest_deploys.each do |deploy| %>
            <li class="<%= job_state_class(deploy) %>">
              <%= link_to "#{deploy.commit} to #{deploy.stage.name} by #{deploy.user.name}", project_deploy_path(project, deploy) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
