<tr>
  <% cache [project.permalink, stage, Lock.cache_key] do %>
    <td>
      <%= link_to stage.name, [project, stage] %>
      <%= resource_lock_icon stage %>
      <%= stage.is_template ? stage_template_icon : '' %>
    </td>

    <% if DeployGroup.enabled? %>
      <td><%= stage.deploy_groups.sort_by(&:natural_order).map(&:name).join(', ') %></td>
    <% end %>

    <% if deploy = stage.last_deploy %>
      <td>
        <%= link_to deploy.short_reference, [project, deploy], title: "#{deploy.reference} at #{deploy.updated_at.to_s(:db)}" %>
        by
        <%= deploy.user.name %>
        <%= job_status_badge deploy.job %>
      </td>
    <% else %>
      <td>-</td>
    <% end %>
  <% end %>

  <td align="right">
    <% if deployer_for_project? %>
      <%= deploy_link @project, stage %>
    <% end %>
  </td>
</tr>
