<% cache [project.to_param, stage] do %>
  <tr>
    <td>
      <%= link_to stage.name, project_stage_path(project, stage) %>
      <%= stage_lock_icon stage %>
    </td>
    <% if stage.last_successful_deploy.nil? %>
      <td>-</td>
      <td>-</td>
    <% else %>
      <td><%= stage.last_successful_deploy.user.name %></td>
      <td><%= link_to stage.last_successful_deploy.short_reference, project_deploy_path(project, stage.last_successful_deploy), title: stage.last_successful_deploy.reference %></td>
    <% end %>
    <td align="right"><%= deploy_link @project, stage %></td>
  </tr>
<% end %>
