<% cache [project.to_param, stage] do %>
  <tr>
    <td>
      <%= link_to stage.name, [project, stage] %>
      <%= stage_lock_icon stage %>
    </td>
    <% if DeployGroup.enabled? %>
      <td><%= stage.deploy_groups.map(&:name).join(', ') %></td>
    <% end %>
    <% if (deploy = stage.last_successful_deploy) %>
      <td>
        <%= link_to deploy.short_reference, [project, deploy], title: "#{deploy.reference} at #{deploy.updated_at.to_s(:db)}" %>
        by
        <%= deploy.user.name %>
      </td>
    <% else %>
      <td>-</td>
    <% end %>
    <td align="right"><%= deploy_link @project, stage %></td>
  </tr>
<% end %>
