<%= render_locks :global %>

<%= page_title do %>
  <%= icon_tag 'star' %> Projects
<% end %>

<div class="admin-actions">
  <% if current_user.admin? %>
    <div class="pull-right">
      <%= render "locks/button", resource: nil, prefix: "Global " %>
      <%= link_to "New", new_project_path, class: "btn btn-default" %>
    </div>
  <% end %>

  <%= paginate @pagy %>
</div>

<%= search_form do %>
  <%= render 'shared/search_query' %>
<% end %>


<div class="row dashboard">
  <%= render @projects %>
</div>

