<% page_title @project.name %>

<%= render 'projects/header', project: @project, tab: "stages" %>

<section class="clearfix tabs">
  <%= render 'shared/dashboard', resource: @project %>

  <%= Samson::Hooks.render_views(:project_dashboard, self) %>

  <table class="project-stages table table-condensed">
    <thead>
      <tr>
        <th>Stage Name</th>
        <th>Last Deploy</th>
        <th class="pull-right">
          <% if can? :write, :stages, @project %>
            <%= link_to 'Manage', project_stages_path(@project) %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @stages.any? || @page.page != 1 %>
        <% static_cache_key = [@project.permalink, Lock.cache_key, deployer_for_project?] # avoid N+1 %>
        <%= render partial: "stage", collection: @stages, cached: ->(stage) { [stage, *static_cache_key] } %>
      <% else %>
        <tr>
          <td colspan="3">
            No stages found, use the <b>Manage</b> link up top to add the first stage!
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="admin-actions">
    <%= paginate @pagy %>
  </div>
</section>
