<h1 class="project_title"><%= project.name %></h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Overview</a></li>
  <li><%= link_to "Webhooks", project_webhooks_path(project) %></li>
  <li><%= link_to "Settings", edit_project_path(project) %></li>
</ul>

<h2>Stages</h2>
<ul id="stages">
  <% @stages.each.with_index do |stage, index| %>
    <li class="stages bar list-unstyled clearfix" data-id="stage_id_<%= stage.id %>">
      <%= link_to stage.name, project_stage_path(project, stage) %>
      <div class="btn-group pull-right">
      <%= link_to "Deploy", new_project_deploy_path(@project, stage_id: stage.id), class: "btn btn-danger" %>
      <%= link_to "Edit", edit_project_stage_path(@project, stage), class: "btn btn-default" %>
      <%= link_to "Delete", project_stage_path(project, stage), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to "Add Stage", new_project_stage_path(project), class: "btn btn-default" %>
<span id="save" class="btn btn-default" data-url="<%= project_reorder_stages_path(project) %>">Save Positions</span>
<button id="error_message" class="messages btn btn-danger" disabled>
  Failed to save!
</button>
<button id="success_message" class="messages btn btn-success" disabled>
  Success!
</button>
<h2>Recent deploys</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>When</th>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "deploy", collection: @deploys %>
    </tbody>
</table>
