<%= form_for :job, url: project_jobs_path(@project), html: { class: "form-horizontal" } do |form| %>
  <%= form.hidden_field :project_id, value: @project.id %>

  <fieldset>
    <legend>Deploy</legend>
    <div class="form-group">
      <%= form.label :sha, "Tag or SHA", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :sha, class: "form-control", placeholder: "e.g. v2.1.43, origin/master, fa0b4671" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :sha, "Environment", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.select :environment, select_valid_environments, {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-danger">Go!</button>
      </div>
    </div>
  </fieldset>
<% end %>
