<% content_for :page_title, project.name %>

<% cache project do %>
  <h1 class="project-title">
    <%= project.name %>
    <%= render partial: "shared/github_link", locals: { project: project } %>
  </h1>

  <%= render partial: "shared/project_tabs",
             locals: { active: "overview" } %>

  <section class="clearfix tabs">
    <div class="col-md-6">
      <h2>Stages</h2>
        <table class="project-stages table table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Deploy By</th>
              <th>Release</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "stage", collection: @stages %>
          </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h2>Recent deploys</h2>
        <table class="table table-condensed recent-deploys">
          <thead>
            <tr>
              <th>When</th>
              <th>Who</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "deploy", collection: @deploys %>
          </tbody>
      </table>
    </div>
  </div>
<% end %>
