<h1><%= project.name %></h1>

<p><%= link_to "Deploy", new_project_deploy_path(project) %> | <%= link_to "Webhooks", project_webhooks_path(project) %></p>

<h2>Webhooks</h2>
<ul id="webhooks">
  <% project.webhooks.each.with_index do |webhook, index| %>
    <li class="webhooks bar list-unstyled clearfix" data-id="webhook_id_<%= webhook.id %>">
      <%= link_to "#{webhook.branch} (id: #{webhook.id})", project_webhook_path(project, webhook) %>
      <%= link_to "Delete", project_webhook_path(project, webhook), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Webhook", new_project_stage_path(project), class: "btn btn-default" %>

<h2>Stages</h2>
<ul id="stages">
  <% project.stages.each.with_index do |stage, index| %>
    <li class="stages bar list-unstyled clearfix" data-id="stage_id_<%= stage.id %>">
      <%= link_to stage.name, project_stage_path(project, stage) %>
      <%= link_to "Delete", project_stage_path(project, stage), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Stage", new_project_stage_path(project), class: "btn btn-default" %>
<span id="save" class="btn btn-default" data-url="<%= project_reorder_stages_path(project) %>">Save Positions</span>
<button id="error_message" class="messages btn btn-danger" disabled>
  Failed to save!
</button>
<button id="success_message" class="messages btn btn-success" disabled>
  Success!
</button>

<h2>Recent deploys</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "deploy", collection: @deploys %>
    </tbody>
</table>
