<h1><%= project.name %></h1>

<p><%= link_to "Deploy", new_project_deploy_path(project) %> | <%= link_to "Webhooks", project_webhooks_path(project) %></p>

<h2>Stages</h2>
<ul>
  <% project.stages.each do |stage| %>
    <li>
      <%= link_to stage.name, project_stage_path(project, stage) %>
      (<%= link_to "delete", project_stage_path(project, stage), method: :delete, data: { confirm: "Are you sure?" } %>)
    </li>
  <% end %>
  <li><%= link_to "Add stage...", new_project_stage_path(project) %></li>
</ul>

<h2>Recent deploys</h2>
<ul>
  <% project.deploys.limit(10).each do |deploy| %>
    <li><%= link_to deploy.summary, project_deploy_path(project, deploy) %></li>
  <% end %>
</ul>
