<%= form_for [:admin, @command], html: { class: "form-horizontal" } do |form| %>
  <fieldset>
    <legend><%= command_form_legend %></legend>

    <div class="form-group">
      <%= form.label :command, class: "col-lg-2 control-label" %>
      <div class="col-lg-6">
        <%= form.text_area :command, class: "form-control", rows: 10 %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :project_id, value: "Project", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.select :project_id, Project.all.map {|p| [p.name, p.id]}, { include_blank: "Global" }, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </fieldset>
<% end %>
