<h1><%= @command.new_record? ? "New Command" : "Edit Command" %></h1>

<section>
  <%= form_for [:admin, @command], html: { class: "form-horizontal" } do |form| %>
    <fieldset>
      <%= render 'shared/errors', object: @command %>

      <div class="form-group">
        <%= form.label :command, class: "col-lg-2 control-label" %>
        <div class="col-lg-6">
          <%= form.text_area :command, class: "form-control", rows: 10 %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :project_id, value: "Project", class: "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <%= form.select :project_id, Project.all.map {|p| [p.name, p.id]}, { include_blank: "Global" }, class: "form-control" %>
        </div>
      </div>

      <% if @command.usages.present? %>
        <div class="form-group">
          <%= form.label :usage, value: "Usage", class: "col-lg-2 control-label" %>
          <% [['stage', @command.stages], ['macro', @command.macros]].select { |_,u| u.any? }.each do |type, usages| %>
            <div class="col-lg-4">
              Used in <%= pluralize(usages.count, type) %>:
              <ul>
                <% usages.each do |s| %>
                  <li><%= link_to "#{s.project.name} - #{s.name}", [s.project, s, action: :edit] %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-default">Save</button>
          <%= link_to_delete([:admin, @command]) unless @command.new_record? || @command.usages.present? %>
        </div>
      </div>
    </fieldset>
  <% end %>
</section>
