<%= page_title "Versions for #{params.require(:item_type)} #{params.require(:item_id)}" %>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Modified by</th>
    <th>Previous version</th>
  </tr>
  <% @versions.each do |v, diff| %>
    <tr>
      <td><%= v.created_at %></td>
      <td>
        <% if v.whodunnit =~ /^\d+$/ && user = User.find_by_id(v.whodunnit) %>
          <%= link_to user.name, admin_user_path(user) %>
        <% else %>
          <%= v.whodunnit %>
        <% end %>
      </td>
      <td>
        <% if diff %>
          <% diff.each do |key, previous, current| %>
            <%= key %>: <%= readable_ruby_value previous %> -> <%= readable_ruby_value current %><br/>
          <% end %>
        <% else %>
          Unable to find item
        <% end %>
        <br/>
        <% full_id = "full_object_#{v.id}" %>
        <%= link_to "Full", "#", class: "toggle", data: {target: "##{full_id}"} %>
        <br/>
        <div id="<%= full_id %>" style="display: none">
          <%= simple_format v.object %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
