<%= page_title "Secret Sharing Grants" %>

<section class="clearfix tabs">
  <div class="table table-hover table-condensed">
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Project</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @secret_sharing_grants.each do |grant| %>
          <tr>
            <td><%= link_to_resource grant %></td>
            <td><%= link_to_resource grant.project %></td>
            <td><%= render_time grant.created_at %></td>
            <td><%= link_to_delete grant %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @secret_sharing_grants %>
  </div>

  <div class="admin-actions">
    <div class="pull-right">
      <%= link_to "New", new_secret_sharing_grant_path, class: "btn btn-default" %>
    </div>
  </div>
</section>
