<%
  waitlist = Waitlist.new(@project.id, @stage.id)
%>
<div style="margin-bottom: 20px; margin-top: 20px;">
  <h2>Deployment Waitlist
    <% if waitlist.created_at.present? %>
      <span style="font-size:10px; font-style: italic;">
        Active since: <%= waitlist.created_at.in_time_zone('America/Los_Angeles').strftime('%b %d, %Y %H:%M %Z') %>
      </span>
    <% end %>
  </h2>
  <form method="post" action="/deploy_waitlist/add" id="waitlist_form">
    <% if waitlist.list.present? %>
      <ol style="width: 60%">
        <% waitlist.list.each_with_index do |deployer, index| %>
        <li>
          <%= deployer[:email] %>
          <% if index == 0 && waitlist.head_updated_at.present? %>
            <span style="font-weight: 600; font-size: 10px;">Head of queue for <%= time_ago_in_words(waitlist.head_updated_at.to_datetime) %></span>
          <% else %>
            <span style="font-size: 10px">In queue for <%= time_ago_in_words(deployer[:added].to_datetime) %></span>
          <% end %>
          <a href="#" onclick="removeUser('<%= index %>');" style="color: red; position: relative; float: right; margin-right: 5px;">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
        <% end %>
      </ol>
    <% else %>
      <div>
        (Queue is empty)
      </div>
    <% end %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="stage" value="<%= @stage.id %>">
    <input type="hidden" name="project" value="<%= @project.id %>">
    <input type="hidden" name="deployer" value="<%= current_user.email %>"/>
    <button onclick="submit();"><span class="glyphicon glyphicon-plus"></span> Add Me</button>
  </form>

</div>

<script>
  function removeUser(user) {
    document.getElementById("waitlist_form").action = '/deploy_waitlist/remove';
    document.getElementById("waitlist_form").deployer.value = user;
    document.getElementById("waitlist_form").submit();
    return true;
  }
</script>
