<%= page_title "Kubernetes Deploy Group Roles" %>

<%= form_tag '?', method: :get, class: 'clearfix' do %>
  <div class="col-sm-3">
    <%= label_tag "Project" %><br/>
    <% possible = Project.where(id: Kubernetes::DeployGroupRole.pluck('distinct project_id')).order('name asc') %>
    <% options = options_for_select(possible.pluck(:name, :id), params[:search].try(:[], :project_id)) %>
    <%= select_tag 'search[project_id]', options, include_blank: "", title: "", class: "form-control selectpicker", data: {live_search: true} %>
  </div>
  <div class="col-sm-3">
    <%= label_tag "Deploy Group" %><br/>
    <% possible = DeployGroup.where(id: Kubernetes::DeployGroupRole.pluck('distinct deploy_group_id')).sort_by(&:natural_order) %>
    <% options = options_for_select(possible.map { |dg| [dg.name, dg.id] }, params[:search].try(:[], :deploy_group_id)) %>
    <%= select_tag 'search[deploy_group_id]', options, include_blank: "", class: "form-control", style: "background-color: white; width: 100%; height: 35px" %>
  </div>
  <%= render 'shared/search_button' %>
<% end %>
<br/>

<section class="clearfix tabs">
  <div class="table table-hover table-condensed">

    <table class="table">
      <tr>
        <th>Project</th>
        <th>Deploy Group</th>
        <th>Role</th>
        <th>CPU</th>
        <th>RAM</th>
        <th>Replicas</th>
        <th>Actions</th>
      </tr>

      <% @deploy_group_roles.each do |deploy_group_role| %>
        <tr>
          <td><%= link_to deploy_group_role.project.name, deploy_group_role.project %></td>
          <td><%= link_to deploy_group_role.deploy_group.name, [:admin, deploy_group_role.deploy_group] %></td>
          <td><%= link_to deploy_group_role.kubernetes_role.name, [deploy_group_role.project, deploy_group_role.kubernetes_role] %></td>
          <td><%= deploy_group_role.cpu %></td>
          <td><%= deploy_group_role.ram %></td>
          <td><%= deploy_group_role.replicas %></td>
          <td>
            <% if current_user.admin_for?(deploy_group_role.project) %>
              <%= link_to 'Edit', edit_admin_kubernetes_deploy_group_role_path(deploy_group_role) %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">Total</td>
        <td><%= @deploy_group_roles.map(&:cpu).sum %></td>
        <td><%= @deploy_group_roles.map(&:ram).sum %></td>
        <td><%= @deploy_group_roles.map(&:replicas).sum %></td>
      </tr>
    </table>
  </div>

  <div class="admin-actions">
    <div class="pull-right">
      <%= link_to "New", new_admin_kubernetes_deploy_group_role_path, class: "btn btn-default" %>
    </div>
  </div>
</section>
