<%
  next_stages = @stage.next_stages.sort_by(&:name)
  previous_stages = @stage.previous_stages.sort_by(&:name)
%>

<% if next_stages.presence || previous_stages.presence %>
  <h2>Pipelining</h2>

  <% if previous_stages.presence %>
    <div>
      The following stages will trigger this stage on completion:
      <%= unordered_list previous_stages do |stage| %>
        <%= link_to stage.name, [@project, stage] %>
      <% end %>
    </div>
  <% end %>

  <% if next_stages.presence %>
    <div>
      After this stage finishes deploying it will deploy to:
      <%= unordered_list next_stages do |stage| %>
        <%= link_to stage.name, [@project, stage] %>  
        <% if last_deploy = stage.last_deploy %> 
          Last Deploy: <%= render_time last_deploy.start_time %> <%= status_badge last_deploy.status %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
