<% external_env_groups =  form.object.external_environment_variable_groups %>
<%= form.fields_for :external_environment_variable_groups, external_env_groups + [ExternalEnvironmentVariableGroup.new] do |fields| %>
  <div class="form-group">
    <div class="col-lg-2">
      <%= fields.text_field :name, class: "form-control monospace", placeholder: "Name" %>
    </div>

    <div class="col-lg-3">
      <%# using a text area so users can resize them with browser controls %>
      <%= fields.text_area :description, class: "form-control monospace validate_whitespace", rows: 1, placeholder: "Description" %>
    </div>

    <div class="col-lg-5">
      <%= fields.text_field :url, class: "form-control monospace", placeholder: ExternalEnvironmentVariableGroup::S3_URL_FORMAT %>
    </div>

    <% if fields.object.persisted? %>
      <div class="col-lg-1 checkbox external-env-group-links">
        <%= link_to_history fields.object, counter: false %>
      </div>
      <div class="col-lg-1 checkbox external-env-group-links">
        <%= link_to 'Preview', preview_external_environment_variable_group_path(fields.object) %>
      </div>
      <div class="col-lg-1 checkbox external-env-group-links">
        <%= fields.label :_destroy do %>
          <%= fields.check_box :_destroy %>
          Delete
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Add row", "#", class: "duplicate_previous_row" %>
