<%= page_title "Secret History #{params[:id]}" %>

<section class="clearfix tabs">
  <div class="table table-hover table-condensed">
    <table class="table">
      <tr><th colspan="2">Details</th></tr>
      <% @history.except(:versions).each do |attribute, value| %>
        <tr>
          <td><%= attribute %></td>
          <td><%= value %></td>
        </tr>
      <% end %>

      <% @history.fetch(:versions).each do |version, data| %>
        <tr><th colspan="2">Version <%= version %></th></tr>
        <% data.reject { |_, v| v.nil? }.each do |attribute, value| %>
          <tr>
            <td><%= attribute %></td>
            <td><%= render_secret_attribute(attribute, value) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</section>
