<% project_list = Project.pluck(:permalink, :name).to_h %>

<% page_title "Secrets" %>
<h1>
  Secrets
  <%= link_to "Sharing globals", secret_sharing_grants_path, class: "pull-right" if SecretStorage.sharing_grants? %>
</h1>

<%= search_form do %>
  <% environments = [['global']] + Environment.pluck(:permalink) %>
  <%= search_select :environment_permalink, environments, live: true, label: "Environment" %>

  <% projects = [['global']] + Project.order(:permalink).pluck(:permalink) %>
  <%= search_select :project_permalink, projects, live: true, label: "Project" %>

  <% deploy_groups = [['global']] + SecretStorage.backend.deploy_groups.sort_by(&:natural_order).map(&:permalink) %>
  <%= search_select :deploy_group_permalink, deploy_groups, live: true, label: "Deploy Group" %>

  <%= search_select :key, @keys, live: true %>

  <div class="col-sm-2" style="padding-left: 0;">
    <%= label_tag "Value" %>
    <%= password_field_tag 'search[value]', params.dig(:search, :value), class: "form-control" %>
  </div>

  <div class="pull-right">
    <label>&nbsp;</label>
    <%= link_to "New", new_secret_path, class: "btn btn-default", style: "display: block" %>
  </div>
<% end %>

<section class="clearfix">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Project</th>
        <th>Deploy Group</th>
        <th>Key</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @secrets.each do |id, parts, secret_stub| %>
        <tr>
          <td><%= parts.fetch(:environment_permalink) %></td>
          <td>
            <% permalink = parts.fetch(:project_permalink) %>
            <% if name = project_list[permalink] %>
              <%= link_to name, project_path(permalink) %>
            <% elsif permalink == 'global' %>
              Global
            <% else %>
              Unknown
            <% end %>
          </td>
          <td><%= parts.fetch(:deploy_group_permalink) %></td>
          <td title="<%= id %>"><%= parts.fetch(:key) %></td>
          <td>
            <%= link_to "Edit", secret_path(id) %> |
            <%= link_to_delete(secret_path(id), remove_container: 'tr') %> |
            <%= content_tag :span, icon_tag("eye-open"), title: "Visible" if secret_stub.fetch(:visible) %>
            <%= if deprecated_at = secret_stub[:deprecated_at]
                  content_tag :span, icon_tag("warning-sign"), title: "Deprecated #{deprecated_at}"
                end
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="admin-actions">
    To use a key in commands, prefix <%= TerminalExecutor::SECRET_PREFIX %>
  </div>
</section>
