<div class="form-group">
  <%= form.label :name, "Deploy stage name", class: "col-lg-2 control-label" %>
  <div class="col-lg-4">
    <%= form.text_field :name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :notify_email_address, "Notify this email address of deploys", class: "col-lg-2 control-label" %>
  <div class="col-lg-4">
    <%= form.text_field :notify_email_address, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :command, class: "col-lg-2 control-label" %>
  <label class="col-lg-2 control-label">Commands</label>
  <!-- TODO: sortable -->
  <div class="col-lg-4">
    <%= command_check_boxes(form) %>
  </div>
</div>
