<fieldset>
  <div class="form-group">
    <%= form.label :name, "Name", class: "col-lg-2 control-label" %>
    <div class="col-lg-4">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <% if form.object.persisted? %>
    <div class="form-group">
      <%= form.label :permalink, "Permalink", class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= form.text_field :permalink, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :notify_email_address, "Email addresses", class: "col-lg-2 control-label" %>
    <div class="col-lg-4">
      <%= form.text_field :notify_email_address, class: "form-control" %>
      <span class="help-block">Enter the email addresses that should be notified of new deploys, separated by <code>;</code></span>
    </div>
  </div>

  <% if DeployGroup.enabled? %>
    <%= render 'deploy_groups/deploy_group_select', form: form %>
  <% else %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= form.label :production do %>
            <%= form.check_box :production %>
            Does this stage impact production servers?
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <%= form.label :no_code_deployed do %>
          <%= form.check_box :no_code_deployed %>
          <% details = "Bypass " + [("buddy check" if BuddyCheck.enabled?), "release tracking"].compact.to_sentence %>
          Does not deploy code <abbr title="<%= details %>">?</abbr>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <%= form.label :confirm do %>
          <%= form.check_box :confirm %>
          Confirm before deployment
        <% end %>
      </div>
    </div>
  </div>

  <% if @project.manage_releases? %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= form.label :deploy_on_release do %>
            <%= form.check_box :deploy_on_release %>
            Automatically deploy new releases
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</fieldset>

<%= render 'shared/commands', form: form %>

<fieldset>
  <legend>Dashboard</legend>
  <p>HTML that should be displayed on the stage page. No Javascript allowed.</p>

  <%= form.text_area :dashboard, class: "form-control", rows: 4 %>
</fieldset>

<fieldset>
  <legend>Email on automated deploy failure</legend>
  <div class="col-lg-offset-2">
    <p>When an automated deploy initially fails, send a email to:</p>

    <div class="form-group">
      <div class="col-lg-6 checkbox">
        <%= form.label :email_committers_on_automated_deploy_failure do %>
          <%= form.check_box :email_committers_on_automated_deploy_failure %>
          Committers in the diff to last successful deploy
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-6">
        <p>Addresses (comma separated):</p>
        <%= form.text_field :static_emails_on_automated_deploy_failure, class: "form-control" %>
      </div>
    </div>
  </div>
</fieldset>

<%= Samson::Hooks.render_views(:stage_form, self, form: form) %>

<fieldset>
  <legend>GitHub</legend>
  <div class="col-lg-6 checkbox col-lg-offset-2">
    <%= form.label :update_github_pull_requests do %>
      <%= form.check_box :update_github_pull_requests %>
      Update Pull Request after deployment
    <% end %>
  </div>
  <div class="col-lg-6 checkbox col-lg-offset-2">
    <%= form.label :use_github_deployment_api do %>
      <%= form.check_box :use_github_deployment_api %>
      Use GitHub Deployment API [beta]
    <% end %>
  </div>
</fieldset>
