<%= render 'projects/header', project: @project, tab: "stages" %>

<section class="tabs">
  <ul id="stages" data-url="<%= reorder_project_stages_path(@project) %>" data-sortable="<%= current_user.is_admin? %>">
    <% @stages.each.with_index do |stage, index| %>
      <li class="stage-bar bar list-unstyled clearfix<%= ' sortable' if current_user.is_admin? %>" data-id="stage_id_<%= stage.id %>">
        <%= link_to stage.name, [@project, stage] %>
        <%= stage_lock_icon stage %>
        <div class="btn-group pull-right">
          <% if current_user.is_admin? %>
            <%= link_to "Clone", clone_project_stage_path(@project, stage), class: "btn btn-default" %>
          <% end %>
          <%= deploy_link @project, stage %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if current_user.is_admin? %>
    <%= link_to "Add Stage", new_project_stage_path(@project), class: "btn btn-default" %>
  <% end %>

  <button id="error_message" class="messages btn btn-danger" disabled>
    Failed to save
  </button>

  <button id="success_message" class="messages btn btn-success" disabled>
    Saved
  </button>
</section>
