<%= render 'projects/header', project: @project, tab: "stages" %>

<section class="tabs">
  <ul class="stages" data-url="<%= reorder_project_stages_path(@project) %>" data-sortable="<%= current_user.is_admin? %>">
    <%= render partial: 'stage_bar', as: :stage, collection: @stages.roots %>
  </ul>

  <% if current_user.is_admin? %>
    <%= link_to "Add Stage", new_project_stage_path(@project), class: "btn btn-default" %>
  <% end %>

  <button id="error_message" class="messages btn btn-danger" disabled>
    Failed to save
  </button>

  <button id="success_message" class="messages btn btn-success" disabled>
    Saved
  </button>
</section>
