<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active"><%= @stage.name %></li>
</ol>

<h1>
  <%= @stage.name %>
  <div class="pull-right">
    <%= link_to "Edit stage", edit_project_stage_path(@project, @stage), class: "btn btn-default" %>
    <%= deploy_link @project, stage_id: @stage.id %>
  </div>
</h1>

<h3>Command</h3>
<pre><%= @stage.command %></pre>

<h3>Recent deploys</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>When</th>
      <th>Who</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "/projects/deploy", collection: @deploys %>
  </tbody>
</table>
<%= paginate @deploys %>
