<% content_for :page_title, "#{@stage.name} - #{@project.name}" %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active"><%= @stage.name %></li>
</ol>

<% if @stage.locked? %>
 <div class="alert alert-warning">Deployments to this stage were locked by <%= @stage.lock.user.name %> <%= time_ago_in_words(@stage.lock.created_at) %> ago.</div>
<% end %>

<h1>
  <%= @stage.name %>
  <div class="pull-right">
    <%= deploy_link @project, @stage %>
    <% if @stage.locked? %>
      <%= link_to project_stage_lock_path(@project, @stage), class: 'btn btn-default', method: :delete do %>
        <i class="glyphicon glyphicon-lock"></i> Unlock
      <% end %>
    <% else %>
      <%= link_to project_stage_lock_path(@project, @stage), class: 'btn btn-default', method: :post do %>
        <i class="glyphicon glyphicon-lock"></i> Lock
      <% end %>
    <% end %>
    <%= link_to "Edit stage", edit_project_stage_path(@project, @stage), class: "btn btn-default" %>
    <%= link_to project_stage_path(@project, @stage), class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="glyphicon glyphicon-remove"></i> Delete
    <% end %>
  </div>
</h1>

<h3>Command</h3>
<pre class="pre-command"><%= @stage.command %></pre>

<h3>Recent deploys</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>When</th>
      <th>Who</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "/projects/deploy", collection: @deploys %>
  </tbody>
</table>
<%= paginate @deploys %>
