<h1><%= link_to @project.name, project_path(@project) %> &ndash; <%= @stage.name %></h1>

<pre><%= @stage.command %></pre>

<p><%= link_to "Deploy", new_project_deploy_path(@project, stage_id: @stage.id) %></p>

<p><%= link_to "Edit", edit_project_stage_path(@project, @stage) %> | <%= link_to "Delete", project_stage_path(@project, @stage), method: :delete, data: { confirm: "Are you sure?" } %></p>

<h2>Recent deploys</h2>
<ul>
  <% @stage.deploys.limit(10).each do |deploy| %>
    <li><%= link_to deploy.summary, project_deploy_path(@project, deploy) %></li>
  <% end %>
</ul>
