<h1>
  <%= link_to @project.name, project_path(@project) %>
  <small><%= @stage.name %></small>

  <div class="pull-right">
    <%= link_to "Edit stage", edit_project_stage_path(@project, @stage), class: "btn btn-default" %>
    <%= deploy_link @project, stage_id: @stage.id %>
  </div>
</h1>

<pre><%= @stage.command %></pre>


<h2>Recent deploys</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/projects/deploy", collection: @deploys %>
    </tbody>
</table>
