<h1>
  <%= link_to @project.name, project_path(@project) %>
  <small><%= @stage.name %></small>

  <div class="pull-right">
    <%= link_to "Edit stage", edit_project_stage_path(@project, @stage), class: "btn btn-default" %>
    <%= deploy_link @project, stage_id: @stage.id %>
  </div>
</h1>

<pre><%= @stage.command %></pre>


<h2>Recent deploys</h2>
<ul>
  <% @stage.deploys.limit(10).each do |deploy| %>
    <li><%= link_to deploy.summary, project_deploy_path(@project, deploy) %></li>
  <% end %>
</ul>
