<h1>
  <%= link_to @project.name, project_path(@project) %>
  <small><%= @stage.name %></small>
  <div class="pull-right"><%= deploy_link @project, stage_id: @stage.id %></div>
</h1>

<pre><%= @stage.command %></pre>

<p><%= link_to "Edit", edit_project_stage_path(@project, @stage) %> | <%= link_to "Delete", project_stage_path(@project, @stage), method: :delete, data: { confirm: "Are you sure?" } %></p>

<h2>Recent deploys</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/projects/deploy", collection: @deploys %>
    </tbody>
</table>
