<h1><%= @job.name %></h1>

<a href="/jobs/<%= @job.id %>/edit">Edit</a>

<div>
Will execute:
  <ol>
    <% @job.tasks.each do |task| %>
      <li><%= task.name %>: <%= task.command %></li>
    <% end %>
  </ol>
</div>

<button id="execute">Execute</button>
<button disabled="disabled" id="stop">Stop</button>

<a href="#" id="add-a-plugin">Add a plugin</a>

<div id="plugins" class="hide">
  <ul>
    <% Plugin.all.each do |plugin| %>
      <li><a class="plugin" href="#" data-id="<%= plugin.id %>"><%= plugin.name %></a></li>
    <% end %>
  </ul>
</div>

<% @job.plugins.each do |plugin| %>
 <%= plugin.content %>
<% end %>

<div>
  <pre id="log"></pre>
</div>

<script type="text/javascript">
  $('#execute').click(function() {
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname + '/execute');
    var log = document.getElementById('log');

    ws.onmessage = function(m) { log.innerHTML += m.data; };
    ws.onclose = function() {
      $('#execute').removeAttr("disabled");
      $('#stop').attr("disabled", "disabled");
      log.innerHTML += "Stopped\n"
    };

    $(this).attr("disabled", "disabled");

    $('#stop').removeAttr("disabled").click(function() {
      ws.send("close");
    });
  });

  $('#add-a-plugin').click(function() { $('#plugins').toggle(); });
  $('.plugin').click(function() {
      var id = $(this).data('id');

      $('<form />').
        attr('action', '/jobs/<%= @job.id %>/plugins/' + id).
        attr('method', 'POST').submit();
  });
</script>
