<% project_list = Project.pluck(:permalink, :name).to_h %>

<%= page_title "Secrets" %>

<%= form_tag '?', method: :get, class: 'clearfix' do %>
  <%= render 'shared/search_query' %>

  <div class="col-sm-2">
    <%= label_tag "Project" %><br/>
    <% options = options_for_select([['global']] + Project.order('permalink asc').pluck(:permalink), params[:search].try(:[], :project_permalink)) %>
    <%= select_tag 'search[project_permalink]', options, include_blank: "", title: "", class: "form-control selectpicker", data: {live_search: true} %>
  </div>

  <div class="col-sm-2">
    <%= label_tag "Key" %><br/>
    <% options = options_for_select(@keys, params[:search].try(:[], :key)) %>
    <%= select_tag 'search[key]', options, include_blank: "", title: "", class: "form-control selectpicker", data: {live_search: true} %>
  </div>

  <%= render 'shared/search_button' %>

  <div class="pull-right">
    <label>&nbsp;</label>
    <%= link_to "New", new_admin_secret_path, class: "btn btn-default", style: "display: block" %>
  </div>
<% end %>

<section class="clearfix">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Project</th>
        <th>Deploy Group</th>
        <th>Key</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @secret_keys.each do |key, parts| %>
        <tr>
          <td><%= parts.fetch(:environment_permalink) %></td>
          <td>
            <% permalink = parts.fetch(:project_permalink) %>
            <% if name = project_list[permalink] %>
              <%= link_to name, project_path(permalink) %>
            <% elsif permalink == 'global' %>
              Global
            <% else %>
              Unknown
            <% end %>
          </td>
          <td><%= parts.fetch(:deploy_group_permalink) %></td>
          <td title="<%= key %>"><%= parts.fetch(:key) %></td>
          <td>
            <%= link_to "Edit", admin_secret_path(key) %> |
            <%= link_to_delete(admin_secret_path(key), remove_container: 'tr') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="admin-actions">
    To use a key in commands, prefix <%= TerminalExecutor::SECRET_PREFIX %>
  </div>
</section>
