<% project_list = Project.pluck(:permalink, :name).to_h %>

<h1>Secrets</h1>

<section class="clearfix">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Key</th>
        <th>Project</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @secret_keys.each do |key| %>
        <tr>
          <td><%= key %></td>
          <td>
            <% permalink = SecretStorage.parse_secret_key(key).fetch(:project_permalink) %>
            <% if name = project_list[permalink] %>
              <%= link_to name, project_path(permalink) %>
            <% elsif permalink == 'global' %>
              Global
            <% else %>
              Unknown
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", edit_admin_secret_path(key) %> |
            <%= link_to_delete admin_secret_path(key) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="admin-actions">
    To use in commands, prefix <%= TerminalExecutor::SECRET_PREFIX %>
    <div class="pull-right">
      <%= link_to "New Secret", new_admin_secret_path, class: "btn btn-default" %>
    </div>
  </div>
</section>
