<% project_list = Project.pluck(:permalink, :name).to_h %>

<h1>Secrets</h1>

<%= form_tag '?', method: :get, class: 'clearfix' do %>
  <div class="col-sm-6" style="padding-left: 0;">
    <%= label_tag "Search" %>
    <%= text_field_tag 'search[query]', params[:search].try(:[], :query), class: "form-control" %>
  </div>
  <%= render 'shared/search_button' %>
<% end %>

<section class="clearfix">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Project</th>
        <th>Deploy Group</th>
        <th>Key</th>
        <th>Project</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @secret_keys.each do |key| %>
        <tr>
          <% parts = SecretStorage.parse_secret_key(key) %>
          <td><%= parts.fetch(:environment_permalink) %></td>
          <td>
            <% permalink = parts.fetch(:project_permalink) %>
            <% if name = project_list[permalink] %>
              <%= link_to name, project_path(permalink) %>
            <% elsif permalink == 'global' %>
              Global
            <% else %>
              Unknown
            <% end %>
          </td>
          <td><%= parts.fetch(:deploy_group_permalink) %></td>
          <td title="<%= key %>"><%= parts.fetch(:key) %></td>
          <td>
            <%= link_to "Edit", edit_admin_secret_path(key) %> |
            <%= link_to_delete admin_secret_path(key) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="admin-actions">
    To use a key in commands, prefix <%= TerminalExecutor::SECRET_PREFIX %>
    <div class="pull-right">
      <%= link_to "New Secret", new_admin_secret_path, class: "btn btn-default" %>
    </div>
  </div>
</section>
