<div class="col-sm-4 project-tile">
  <h2>
    <%= link_to 'Production', '/environments/1' %>
  </h2>
  <ul>
    <li>
      <%= link_to 'Pod1', '/environments/1' %>
    </li>
    <li>
      <%= link_to 'Pod2', '/' %>
    </li>
    <li>
      <%= link_to 'Pod3', '/' %>
    </li>
    <li>
      <%= link_to 'Pod4', '/' %>
    </li>
    <li>
      <%= link_to 'Pod5', '/' %>
    </li>
    <li>
      <%= link_to 'Pod6', '/' %>
    </li>
    <li>
      <%= link_to 'Pods 2, 3, 4, 5 and 6', '/' %>
    </li>
    <li>
      <%= link_to 'Pod1 Switch', '/' %>
    </li>
    <li>
      <%= link_to 'Pod2/3/4/5/6 Switch', '/' %>
    </li>
    <li>
      <%= link_to 'Release', '/' %>
    </li>
    <li>
      <%= link_to 'Production (POD 1)', '/' %>
    </li>
    <li>
      <%= link_to 'Production (POD 2-6)', '/' %>
    </li>
    <li>
      <%= link_to 'Production [pod 4]', '/' %>
    </li>
    <li>
      <%= link_to 'Production [pod 1, 2, 3, 5, 6]', '/' %>
    </li>
    <li>
      <%= link_to 'Other Pods -- Release', '/' %>
    </li>
    <li>
      <%= link_to 'Production (pod1-5)', '/' %>
    </li>
    <li>
      <%= link_to 'Production (pod6)', '/' %>
    </li>
    <li>
      <%= link_to 'Production', '/' %>
    </li>
    <li>
      <%= link_to 'dbadmin boxes pod1-4', '/' %>
    </li>
    <li>
      <%= link_to 'Production -- build', '/' %>
    </li>
    <li>
      <%= link_to 'Production -- release', '/' %>
    </li>
    <li>
      <%= link_to 'Production pod1', '/' %>
    </li>
    <li>
      <%= link_to 'Production pod2', '/' %>
    </li>
    <li>
      <%= link_to 'Production pod3', '/' %>
    </li>
    <li>
      <%= link_to 'Production pod4', '/' %>
    </li>
    <li>
      <%= link_to 'Production pod5, pod6', '/' %>
    </li>
  </ul>
</div>


<div class="col-sm-4 project-tile">
  <h2>
    <%= link_to 'Staging', '/' %>
  </h2>
  <ul>
    <li>
      <%= link_to 'Pod100', '/' %>
    </li>
    <li>
      <%= link_to 'Pod101', '/' %>
    </li>
    <li>
      <%= link_to 'Staging (POD 100)', '/' %>
    </li>
    <li>
      <%= link_to 'Staging (POD 101)', '/' %>
    </li>
    <li>
      <%= link_to 'staging', '/' %>
    </li>
    <li>
      <%= link_to 'Staging', '/' %>
    </li>
    <li>
      <%= link_to 'pod100 (staging)', '/' %>
    </li>
    <li>
      <%= link_to 'pod101 (staging)', '/' %>
    </li>
    <li>
      <%= link_to 'staging-pod100', '/' %>
    </li>
    <li>
      <%= link_to 'staging-pod101', '/' %>
    </li>
    <li>
      <%= link_to 'Staging Deploy', '/' %>
    </li>
    <li>
      <%= link_to 'Staging (pods100-101)', '/' %>
    </li>
  </ul>
</div>

<div class="col-sm-4 project-tile">
  <h2>
    <%= link_to 'Master', '/' %>
  </h2>
  <ul>
    <li>
      <%= link_to 'Pod98', '/' %>
    </li>
    <li>
      <%= link_to 'Pod99', '/' %>
    </li>
  </ul>
</div>
