
<%
   title = "Release Group #{@release_group.id}"
   content_for :page_title, title
%>

<%= breadcrumb @project,
               ['Kubernetes Releases', project_kubernetes_release_groups_path(@project)],
               title
%>

<h1><%= title %></h1>

<section class="clearfix tabs">
  <dl class="dl-horizontal">
    <dt>Id</dt>
    <dd><%= @release_group.id  %></dd>

    <dt>Created</dt>
    <dd><%= @release_group.created_at  %></dd>

    <dt>Created By</dt>
    <dd><%= @release_group.user.name_and_email %></dd>
  </dl>

  <h2>By Deploy Group</h2>

  <section class="form-horizontal">
    <% @release_group.releases.each do |release| %>
      <div class="form-group">
        <label class="col-lg-2 control-label"><%= release.deploy_group.name %></label>
        <div class="col-lg-9">
          <%= render partial: 'kubernetes_release_doc/release_doc_row', collection: release.release_docs, as: :release_doc %>
        </div>
      </div>
    <% end %>
  </section>

</section>
