<h1><%= @environment.new_record? ? 'New' : 'Edit' %> Environment</h1>

<section>
  <%= form_for [:admin, @environment], html: { class: "form-horizontal" } do |form| %>
    <%= render 'shared/errors', object: @environment %>

    <%= render 'admin/environments/fields', form: form %>

    <hr>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= form.submit "Save", class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</section>
