<h1><%= @environment.new_record? ? 'New' : 'Edit' %> Environment</h1>

<section>
  <%= form_for [:admin, @environment], html: { class: "form-horizontal" } do |form| %>
    <%= render 'shared/errors', object: @environment %>

    <%= form.input :name, required: true %>
    <%= form.input :production, as: :check_box, label: 'Affects Production' %>

    <%= form.actions %>
  <% end %>
</section>
