<h1><%= @environment.name %></h1>

<section ng-controller="DashboardsCtrl">
  <p style="float: right;">
    <a class="toggle" data-target="tr.no-deploys" href="#">Toggle Projects without Deploys</a>
  </p>

  <p>
    <%= form_tag "", method: :get do %>
      Status at <%= datetime_local_field_tag :before, @before.strftime("%Y-%m-%dT%H:%M:%S") %>
      <%= submit_tag "Timetravel" %>
    <% end %>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <% @environment.deploy_groups.each do |deploy_group| %>
        <th><%= link_to deploy_group.name, deploy_group %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects" class="{{ project.css.tr_class }}" style="{{ project.css.style }}" project_deploy_groups/>
    </tbody>
  </table>
</section>
