<h1><%= @environment.name %></h1>

<section>
  <p>
    <%= form_tag "", method: :get do %>
      Status at <%= datetime_local_field_tag :before, @before.strftime("%Y-%m-%dT%H:%M:%S") %>
      <%= submit_tag "Timetravel" %>
    <% end %>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <% @environment.deploy_groups.each do |deploy_group| %>
        <th><%= deploy_group.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @deploys.each do |project, deploy_group_versions| %>
      <%= render partial: 'project', object: project,
                 locals: { deploy_group_versions: deploy_group_versions } %>
    <% end %>
    </tbody>
  </table>
</section>
