<%= page_title "Role Verification" %>

Paste role yaml/json here to verify it.

<% if @errors %>
  <h2>Errors</h2>
  <ul>
    <% @errors.split("\n").each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag kubernetes_role_verification_path do %>
  <%= text_area_tag :role, params[:role], size: '120x20', style: 'font-family: monospace' %>
  <br/>
  <%= submit_tag 'Verify', class: 'btn btn-primary' %>
<% end %>
