<fieldset>
  <legend>Datadog</legend>
  <div class="col-lg-offset-2">
    <div class="form-group">
      <h3>Deploy events with tags <%= additional_info "In addition to started/finished tags), separated by <code>;</code><br/>Leave empty to not send notifications.".html_safe %></h3>
      <div class="col-lg-6">
        <%= form.text_field :datadog_tags, class: "form-control", placeholder: "Datadog deploy event tags" %>
      </div>
    </div>

    <div class="form-group">
      <h3>Datadog monitors <%= additional_info "Monitors to show on the stage page" %></h3>

      <div class="col-lg-12">
        <% @stage.datadog_monitors # trigger parallel preload %>
        <%= form.fields_for :datadog_monitor_queries, @stage.datadog_monitor_queries + [DatadogMonitorQuery.new] do |fields| %>
          <div class="form-group">
            <div class="col-lg-4">
              <%= fields.text_field :query, class: "form-control", placeholder: "ID or comma separated tags" %>
            </div>

            <div class="col-lg-3">
              <% if fields.object.persisted? %>
                <%= fields.object.monitors.first&.name %> <%= "+#{fields.object.monitors.size - 1}" if fields.object.monitors.size > 1 %>
              <% end %>
            </div>

            <div class="col-lg-3 checkbox">
              <%= fields.label :fail_deploy_on_alert do %>
                <%= fields.check_box :fail_deploy_on_alert %>
                Fail Deploy on Alert
                <%= additional_info "Fail deploy if monitors alerts after the deploy, but did not alert before." %>
              <% end %>
            </div>

            <% if fields.object.persisted? %>
              <div class="col-lg-1 checkbox">
                <%= fields.label :_destroy do %>
                  <%= fields.check_box :_destroy if fields.object.persisted? %>
                  Delete
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= link_to "Add row", "#", class: "duplicate_previous_row" %>
      </div>
    </div>
  </div>
</fieldset>
