<fieldset>
  <legend>Slack</legend>
  <p class="col-lg-offset-2">Details of the webhook to notify on deploys.</p>

  <% stage = form.object %>
  <% stage.slack_webhooks.build if stage.slack_webhooks.last.try(:webhook_url).blank? %>

  <%= form.fields_for :slack_webhooks do |slack_fields| %>
    <div class="form-group">
      <div class="col-lg-6 col-lg-offset-2">
        <%= slack_fields.text_field :webhook_url, class: "form-control", placeholder: "Webhook URL" %>
      </div>

      <div class="col-lg-3 col-lg-offset-2">
        <%= slack_fields.text_field :channel, class: "form-control", placeholder: "Channel (optional)" %>
      </div>

      <% if slack_fields.object.persisted? %>
        <div class="col-lg-offset-2 col-lg-10">
          <%= slack_fields.check_box :_destroy if slack_fields.object.persisted? %>
          <%= slack_fields.label :_destroy, "Delete" %>
        </div>
      <% end %>
    </div>
  <% end %>
</fieldset>
