<% title = (@group.new_record? ? "New group" : "Edit #{@group.name}") %>
<% content_for(:page_title, title) %>

<% crumbs = [["Environment variables", [:admin, EnvironmentVariableGroup]]] %>
<% if @group.new_record? %>
  <%= manual_breadcrumb(crumbs + [[title, nil]]) %>
<% else %>
  <%= manual_breadcrumb(crumbs + [[@group.name, [:admin, @group]], ["Edit", nil]]) %>
<% end %>

<h1><%= title %></h1>

<section>
  <%= form_for [:admin, @group], html: { class: "form-horizontal" } do |form| %>
    <fieldset>
      <div class="form-group">
        <label class="col-lg-2 control-label">Group name</label>
        <div class="col-lg-2">
          <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Comment</label>
        <div class="col-lg-2">
          <%= form.text_area :comment, size: "80x4" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Environment variables
        <i class="glyphicon glyphicon-info-sign" title="$VAR / ${VAR} replacements supported&#13;Priority is DeployGroup, Environment, All"></i>
      </legend>
      <%= render "samson_env/environment_variables", form: form %> |
      <%= link_to "Preview", preview_admin_environment_variable_groups_path(group_id: @group.id) %>

      <% if current_user.admin? %>
        <hr>

        <div class="form-group">
          <div class="col-lg-10">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>
</section>

