<% title = "Preview environment" %>

<% if @group %>
  <%= manual_breadcrumb([
      ["Environment variables", [:admin, EnvironmentVariableGroup]],
      [@group.name, [:admin, @group]],
      [title, nil]
    ]) %>
<% else %>
  <%= breadcrumb(@project, title) %>
<% end %>

<%= page_title title %>

<% if @groups %>
  <% @groups.each do |deploy_group_name, env| %>
    <h2>Scope: <%= deploy_group_name.presence || "All" %></h2>
    <pre>
<%= JSON.pretty_generate(env) %>
  </pre>
  <% end %>
<% else %>
  No environment variables defined.
<% end %>
