<% title = "Environment variables" %>

<%= breadcrumb(title) %>

<%= page_title title %>

<%= search_form do %>
  <% names = EnvironmentVariable.order(:name).pluck(Arel.sql('distinct name')) %>
  <%= search_select :name, names, live: true, size: 3 %>

  <div class="col-sm-3">
    <%= label_tag "Value" %><br/>
    <%= text_field_tag 'search[value]', params.dig(:search, :value), class: "form-control" %>
  </div>
<% end %>

<section class="clearfix">
  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Scope</th>
      <th>Parent</th>
      <th></th>
    </tr>
    </thead>
    <% @environment_variables.each do |variable| %>
      <tr>
        <td><%= variable.name %></td>
        <td><%= variable.value %></td>
        <td><%= variable.scope_type ? (variable.scope&.name || "Deleted #{variable.scope_type} ##{variable.scope_id}") : 'All' %></td>
        <td>
          <% if parent = variable.parent %>
            <%= link_to_resource parent %>
          <% else %>
            <%= "Deleted #{variable.parent_type} ##{variable.parent_id}" %>
          <% end %>
        </td>
        <td><%= link_to_delete variable, remove_container: 'tr' %></td>
      </tr>
    <% end %>
  </table>

  <div class="admin-actions">
    <%= paginate @pagy %>
  </div>
</section>
