<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, [:admin, user] %></td>
  <td><%= user.email %></td>
  <td>
    <%= render "roles", user: user %>
  </td>
  <td>
    <%= link_to "Delete", [:admin, user], method: :delete, data: { confirm: "Delete ##{user.id} #{user.name} #{user.email} ?" }, class: "btn-sm btn-danger" if current_user.super_admin? %>
  </td>
</tr>
