<%= page_title "Users" %>

<section class="clearfix">
  <%= render 'users/search_bar', system_level: true %>

  <div class="users-csv">
    <%= link_to "Download as CSV", new_csv_export_path(format: :csv, type: :users) %>
  </div>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th><%= sortable "id" %></th>
        <th><%= sortable "name" %></th>
        <th><%= sortable "email" %></th>
        <th><%= sortable "role_id", "System Level Role" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% if @users.empty? %>
      <tr>
        <td>No user was found!</td>
      </tr>
    <% else %>
        <%= render @users %>
    <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
</section>
