<section class="clearfix" ng-controller="UsersCtrl">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th><%= sortable "id" %></th>
        <th><%= sortable "name" %></th>
        <th><%= sortable "email" %></th>
        <th><%= sortable "role_id", "Role" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr data-id="<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= render partial: "roles", locals: { user: user } %>
          </td>
          <td>
            <%= link_to "Delete", admin_user_path(user.id), method: :delete, data: { confirm: "Delete ##{user.id} #{user.name} #{user.email} ?" }, class: "btn btn-danger" if can_modify_roles? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>

  <div class="success popup fixed-center" ng-show="saveSuccess">Saved</div>
  <div class="failure popup fixed-center" ng-show="saveFailure">Failed to save</div>
</section>
