<section class="clearfix">
  <%= form_for :users, method: :put, class: "form-inline" do |form| %>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th><%= sortable "id" %></th>
          <th><%= sortable "name" %></th>
          <th><%= sortable "email" %></th>
          <th><%= sortable "role_id", "Role" %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <% Role.all.each do |role| %>
              <label class="radio-inline">
                <%= radio_button_tag "users[#{user.id}][role]", role.id, user.role_id == role.id %>
                <%= role.name %>
              </label>
              <% end %>
            </td>
            <td>
              <%= link_to "Delete", admin_user_path(user.id), method: :delete, data: { confirm: "Delete ##{user.id} #{user.name} #{user.email} ?" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="admin-actions">
      <div class="pull-right">
        <button type="submit" class="btn btn-default">Save Changes</button>
      </div>

      <%= paginate @users %>
    </div>
  <% end %>
</section>
