<tr class="release-summary">
  <td>
    <%= release_label(@project, release) %>
  </td>
  <td>
    <% @stages.select {|stage| stage.current_release?(release) }.each do |stage| %>
      <span class="label label-success release-stage" title="Currently deployed to <%= stage.name %>">
        <%= stage.name %>
      </span>
    <% end %>
    <% release.currently_deploying_stages.each do |stage| %>
      <span class="label label-warning release-stage" title="Being deployed to <%= stage.name %>">
        <span class="glyphicon glyphicon-cloud-upload"></span> <%= stage.name %>
      </span>
    <% end %>
  </td>
  <td><%= relative_time(release.created_at) %></td>
  <td>
    <% if deployer_for_project? %>
      <%= render 'deploy_to_button', release: release, stages: @stages %>
    <% end %>
  </td>
</tr>
<tr class="release-info collapse" data-url="<%= url_for [@project, release] %>">
  <td></td>
  <td colspan="2"></td>
</tr>
