<tr class="release-summary">
  <td>
    <%= release_label(@project, release) %>
  </td>
  <td>
    <% if github_ok? %>
      <%= github_commit_status_icon release.github_status.state %>
    <% else %>
      <%= github_commit_status_icon "missing" %>
    <% end %>
  </td>
  <td>
    <% release.code_authors.take(8).each do |user| %>
      <%= github_user_avatar(user) %>
    <% end %>
  </td>
  <td width="100%"><%= deployed_or_running_list @stages, release.version %></td>
  <td><%= relative_time(release.created_at) %></td>
  <td>
    <% if deployer_for_project? %>
      <%= render 'deploy_to_button', release: release, stages: @stages %>
    <% end %>
  </td>
</tr>
<tr class="release-info collapse" data-url="<%= url_for [@project, release] %>">
  <td colspan="5"></td>
</tr>
