<tr class="release-summary">
  <td>
    <%= release_label(@project, release) %>
  </td>
  <td>
    <%= render partial: "release_status", locals: { status: release.github_status } %>
  </td>
  <td><%= deployed_or_running_list @stages, release.version %></td>
  <td><%= relative_time(release.created_at) %></td>
  <td>
    <% if deployer_for_project? %>
      <%= render 'deploy_to_button', release: release, stages: @stages %>
    <% end %>
  </td>
</tr>
<tr class="release-info collapse" data-url="<%= url_for [@project, release] %>">
  <td colspan="4"></td>
</tr>
