<% content_for :page_title, "#{@project.name} releases" %>

<h1><%= @project.name %></h1>

<%= render partial: "shared/project_tabs", locals: { project: @project, active: "releases" } %>
<section class="clearfix tabs">

  <p>
    <%= link_to "Create release manually", new_project_release_path(@project), class: "btn btn-default" %>
  </p>

  <% if @releases.any? %>
    <table class="table release-list">
      <thead>
        <tr>
          <th>Release</th>
          <th>Author</th>
          <th>Currently deployed to</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @releases.each do |release| %>
          <tr>
            <td><%= link_to release.version, project_release_path(@project, release) %></td>
            <td><%= release.author.name %></td>
            <td>
              <% @stages.select {|stage| stage.current_release?(release) }.each do |stage| %>
                <span class="label label-primary" title="Currently deployed to <%= stage.name.upcase %>"><%= stage.name.upcase %></span>
              <% end %>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
                  Deploy to <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% @stages.each do |stage| %>
                    <li>
                      <%= link_to stage.name, new_project_deploy_path(@project, reference: release.version, stage_id: stage.id) %>
                    </li>
                    <% end %>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @releases %>
  <% else %>
    <p>There haven't been made any releases yet.</p>
  <% end %>

</section>
