<% content_for :page_title, "#{@project.name} releases" %>

<%= render 'projects/header', project: @project, tab: "releases" %>

<% cache [@project, @releases.current_page] do %>
  <section class="clearfix tabs">
    <% if @releases.any? %>
      <p class="pull-right">
        <%= link_to "Create release manually", new_project_release_path(@project), class: "btn btn-default" %>
      </p>

      <table class="table table-hover release-list">
        <thead>
          <tr>
            <th></th>
            <th>Authors</th>
            <th>Currently deployed to</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= static_render @releases %>
        </tbody>
      </table>

      <%= paginate @releases %>
    <% else %>
      <div class="alert alert-warning">
        <p>Configure a <%= link_to "release branch", edit_project_path(@project, anchor: "project_release_branch") %> to automatically create releases whenever a branch is pushed to.</p>
      </div>
    <% end %>

  </section>
<% end %>
