<% content_for :page_title, "#{@project.name} releases" %>

<h1><%= @project.name %></h1>

<%= render partial: "shared/project_tabs", locals: { project: @project, active: "releases" } %>
<section class="clearfix tabs">

  <p class="pull-right">
    <%= link_to "Create release manually", new_project_release_path(@project), class: "btn btn-default" %>
  </p>

  <% if @releases.any? %>
    <table class="table release-list">
      <thead>
        <tr>
          <th>Release</th>
          <th>Author</th>
          <th>Currently deployed to</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @releases %>
      </tbody>
    </table>

    <%= paginate @releases %>
  <% else %>
    <p>There haven't been made any releases yet.</p>
  <% end %>

</section>
