<%= page_title "Create release" %>
<%= form_for([@project, @release], html: { class: "form-horizontal" }) do |form| %>
  <section>
    <div class="row">
      <p class="col-lg-offset-2 col-lg-4">
        Manual releases should only be created when your CI service is down,
        and you need to release a new version regardless.
        The commit will be tagged and the tag will be pushed to the Git repository.
      </p>
    </div>

    <%= form.input :commit, required: true, label: "SHA" %>
    <%= form.input :number, label: "Release number", input_html: { min: 1, step: 1, value: @release.number } %>

    <%= form.actions label: "Create release" %>
  </section>
<% end %>
