<%# no page_title since this is rendered via ajax %>
<ul class="nav nav-tabs">
  <li><a href="#info-<%= @release.version %>" data-toggle="tab">Info</a></li>
  <li><a href="#pull_requests-<%= @release.version %>" data-toggle="tab">Pull Requests</a></li>
  <li class="active"><a href="#commits-<%= @release.version %>" data-toggle="tab">Commits</a></li>
  <li><a href="#files-<%= @release.version %>" data-toggle="tab">Files</a></li>
  <li><a href="#risks-<%= @release.version %>" data-toggle="tab">Risks</a></li>
  <li><a href="#jira_issues-<%= @release.version %>" data-toggle="tab">JIRA Issues</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="info-<%= @release.version %>">
    Commit: <code><%= @release.commit %></code>
    <p>Author: <%= @release.author.name %>
  </div>

  <div class="tab-pane" id="pull_requests-<%= @release.version %>">
    <%= render 'changeset/pull_requests', changeset: @changeset %>
  </div>

  <div class="tab-pane active" id="commits-<%= @release.version %>">
    <%= render 'changeset/commits', changeset: @changeset %>
  </div>

  <div class="tab-pane" id="files-<%= @release.version %>">
    <%= render 'changeset/files', changeset: @changeset %>
  </div>

  <div class="tab-pane" id="risks-<%= @release.version %>">
    <%= render 'changeset/risks', changeset: @changeset, type: "release" %>
  </div>

  <div class="tab-pane" id="jira_issues-<%= @release.version %>">
    <%= render 'changeset/jira_issues', changeset: @changeset, type: "release" %>
  </div>
</div>
