<% content_for :page_title, "#{@project.name} #{@release.version}" %>

<%= breadcrumb @project, link_to("Releases", project_releases_path(@project)), "Release #{@release.version}" %>

<h1>Release <%= @release.version %>: <code><%= @release.commit %></code></h1>

<section class="clearfix tabs release">
  <div class="pull-right">
    <%= render 'deploy_to_button', release: @release, stages: @project.stages %>
  </div>

  <% if @release.deployed_stages.any? %>
    <p>
      Deployed to:
      <% @release.deployed_stages.each do |stage| %>
        <%= link_to stage.name, [@project, stage] %>
      <% end %>
    </p>
  <% end %>

  <% if @changeset.empty? %>
    <p>This release contains no changes.</p>
  <% else %>
    <% if @changeset.pull_requests.any? %>
      <legend>Pull requests</legend>
      <%= render 'changeset/pulls', changeset: @changeset %>
    <% end %>

    <legend>Commits</legend>
    <%= render 'changeset/commits', changeset: @changeset %>

    <legend>Files</legend>
    <%= render 'changeset/files', changeset: @changeset %>

    <% if @changeset.risks? %>
      <legend>Risks</legend>
      <%= render 'changeset/risks', pull_requests: @changeset.risky_pull_requests, type: "release" %>
    <% end %>

    <% if @changeset.jira_issues.any? %>
      <legend>Jira issues</legend>
      <%= render 'changeset/jira_issues', jira_issues: @changeset.jira_issues, type: "release" %>
    <% end %>
  <% end %>
</section>
