<% content_for :page_title, "#{@project.name} #{@release.version}" %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Releases", project_releases_path(@project) %></li>
  <li class="active">Release <%= @release.version %></li>
</ol>

<h1>Release <%= @release.version %></h1>

<section class="clearfix tabs releases">
  <% if @changeset.empty? %>
    <p>This release contains no changes.</p>
  <% else %>
    <legend>Pull requests</legend>

    <%= render 'changeset/pulls', changeset: @changeset %>

    <legend>Commits</legend>

    <%= render 'changeset/commits', changeset: @changeset %>

    <legend>Files</legend>

    <%= render 'changeset/files', changeset: @changeset %>

    <legend>Risks</legend>

    <%= render 'changeset/risks', pull_requests: @changeset.risky_pull_requests, type: "release" %>

    <legend>Jira issues</legend>

    <%= render 'changeset/jira_issues', jira_issues: @changeset.jira_issues, type: "release" %>
  <% end %>
</section>
