<% if lock %>
  <%= link_to lock, class: 'btn btn-default', method: :delete do %>
    <%= lock_icon %> Unlock
  <% end %>
<% else %>
  <button class="btn btn-default want-lock"><%= lock_icon %> Lock</button>
  <%= form_for Lock.new(stage: @stage), html: {class: 'before-lock'} do |f| %>
    <%= f.hidden_field :stage_id %>
    <%= f.text_field :description, class: "lock-description", placeholder: "Description" %>
    <%= f.submit "Lock", class: "do-lock btn btn-warning" %>
  <% end %>
<% end %>
