<div class="alert alert-warning">
  <% if lock.warning? %>
    <%= warning_icon %> <%= lock_affected(lock) %> Warning:
  <% else %>
    <%= lock_icon %> Deployments to <%= lock_affected(lock) %> were locked
  <% end %>
  <%= sanitize lock.reason %>
  <i>
    by <%= lock.locked_by %> <%= render_time lock.created_at %>
    <%= lock.expire_summary { |t| render_time(t) } %>.
  </i>
</div>
