<%= form.fields_for :environment_variables, environment_variables + [EnvironmentVariable.new] do |fields| %>
  <div class="form-group">
    <div class="col-lg-3">
      <%= fields.text_field :name, class: "form-control monospace", placeholder: "Name" %>
    </div>

    <div class="col-lg-5">
      <%# using a text area so users can resize them with browser controls %>
      <%= fields.text_area :value, class: "form-control monospace validate_whitespace", rows: 1, placeholder: "Value" %>
    </div>

    <% if DeployGroup.enabled? && defined?(scopes) %>
      <div class="col-lg-2">
        <%= fields.select :scope_type_and_id, scopes, {}, Samson::FormBuilder::LIVE_SELECT_OPTIONS %>
      </div>
    <% end %>

    <% if fields.object.persisted? %>
      <div class="col-lg-1 checkbox">
        <%= link_to_history fields.object, counter: false %>
      </div>
      <div class="col-lg-1 checkbox">
        <%= fields.label :_destroy do %>
          <%= fields.check_box :_destroy if fields.object.persisted? %>
          Delete
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Add row", "#", class: "duplicate_previous_row" %> <span>|</span>
<%= link_to "Paste", "#", class: "paste_env_variables" %>
