<fieldset>
  <legend>
    Env variables written to .env before deploy
    <%= additional_info SamsonEnv::HELP_TEXT %>
  </legend>
  <%= render "samson_env/environment_variables", form: form %>

  <h4>Groups</h4>
  <% project = form.object %>
  <% ids = project.environment_variable_group_ids + [nil] %>
  <% environment_variable_groups = EnvironmentVariableGroup.all.map { |g| [g.name, g.id] } %>
  <% if environment_variable_groups.any? %>
    <% ids.each do |id| %>
      <div class="form-group">
        <div class="col-lg-2 col-lg-offset-2">
          <%= select_tag "project[environment_variable_group_ids][]", options_for_select([[nil, nil]] + environment_variable_groups, id), class: "form-control", placeholder: "Name" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Add row", "#", class: "duplicate_previous_row" %> |
  <%= link_to "Group overview", [:admin, EnvironmentVariableGroup] %> |
  <%= link_to "Preview", preview_admin_environment_variable_groups_path(project_id: form.object.id) %>
</fieldset>
