<fieldset>
  <legend>
    Environment Variables
    <%= additional_info SamsonEnv::HELP_TEXT %>
  </legend>

  <% scopes = Environment.env_deploy_group_array %>
  <% sorted_env_vars = EnvironmentVariable.sort_by_scopes(form.object.environment_variables, scopes) %>
  <% sorted_env_vars << EnvironmentVariable.new %>
  <%= render "samson_env/environment_variables", form: form, environment_variables: sorted_env_vars %>

  <% if ExternalEnvironmentVariableGroup.configured? %>
    <h4>
      External Groups
      <%= additional_info ExternalEnvironmentVariableGroup::HELP_TEXT %>
    </h4>
    <%= render "external_environment_variable_groups/fields", form: form %>
  <% end %>

  <h4>Groups</h4>
  <% project = form.object %>
  <% ids = project.environment_variable_group_ids + [nil] %>
  <% environment_variable_groups = EnvironmentVariableGroup.order(:name).map { |g| [g.name, g.id] } %>
  <% if environment_variable_groups.any? %>
    <% ids.each do |id| %>
      <div class="form-group env_group_inputs">
        <div class="col-lg-3">
          <%= live_select_tag(
                "project[environment_variable_group_ids][]",
                options_for_select([[nil, nil]] + environment_variable_groups, id),
                placeholder: "Name", id: nil
              )
          %>
        </div>
        <div class="col-lg-2 checkbox">
          <%# linked to selected group in env/app/assets/javascripts/env/application.js %>
          <%= link_to "Edit", environment_variable_group_path(0) %> |
          <%= link_to "Preview", preview_environment_variable_groups_path(group_id: 0) %>
        </div>
      </div>
    <% end %>
    <%= link_to "Add row", "#", class: "duplicate_previous_row" %> |
  <% end %>
  <%= link_to "Groups overview", EnvironmentVariableGroup %> |
  <%= link_to "Groups preview", preview_environment_variable_groups_path(project_id: form.object.id) %>
</fieldset>
