<h1>Request a CSV Report</h1>

<section class="clearfix">
  <div class="csv-deploy-filters clearfix">
    <%= form_tag csvs_path do %>
      <div><strong>Deploy reports</strong></div>
      <div>
        <%= label_tag :start_date, "Start Date:" %>
        <%= date_field_tag :start_date, Date.today.prev_year.strftime("%m/%d/%Y"), id: "datepicker1" %>
      </div>
      <div>
        <%= label_tag :end_date, "End Date:" %>
        <%=	date_field_tag :end_date, Date.today.strftime("%m/%d/%Y"), id: "datepicker2" %>
      </div>
      <div>
        <%= label_tag :production, "Production:" %>
        <%= select_tag :production, options_for_select(['Any', 'Yes', 'No'], 'Any') %>
      </div>
      <div>
        <%= label_tag :status, "Status:"%>
        <%= select_tag :status, options_for_select(['All', 'Succeeded', 'Failed'], 'All') %>
      </div>
      <div>
        <%= label_tag :project, "Project" %>
        <% projects = [['All',0]] %>
        <% projects += Project.all.pluck(:name, :id) %>
        <%= select_tag(:project, options_for_select(projects, 0)) %>
      </div>
      <%= submit_tag "Create Deploys CSV Report" %>
    <% end %>
  </div>
  <% if current_user.is_admin? %>
    <hr />
    <div><strong>Admin reports</strong></div>
    <div><%= link_to "Download Users CSV Report", admin_users_path(format: "csv") %></div>
  <% end %>
</section>
