<h1>Deploy to <%= @deploy_group.name %></h1>

<%= render 'environment_selector' %>

<%= form_tag deploy_all_now_admin_deploy_group_path(@deploy_group) do %>
  <section class="clearfix">
    <div class="table table-hover table-condensed">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Project</th>
            <th>Stage</th>
            <th>Reference</th>
          </tr>
        </thead>

        <tbody>
          <% @stages.each do |stage, deploy| %>
            <tr>
              <td><%= check_box_tag 'stages[]', "#{stage.id}-#{deploy.reference}" %></td>
              <td><%= link_to stage.project.name, stage.project %></td>
              <td><%= link_to stage.name, [stage.project, stage] %></td>
              <td><%= deploy.reference %> (<%= time_ago_in_words deploy.created_at %> ago)</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="admin-actions">
      <div class="pull-right">
        <%= submit_tag "Deploy", class: "btn btn-default" %>
      </div>
    </div>
  </section>
<% end %>
