<%= page_title do %>
  <%= @deploy_group.new_record? ? 'New' : 'Edit' %>
  Deploy Group
  <%= link_to_if @deploy_group.id, @deploy_group.name, [:admin, @deploy_group] %>
<% end %>

<section>
  <%= form_for [:admin, @deploy_group], html: { class: "form-horizontal" } do |form| %>
    <%= render 'shared/errors', object: @deploy_group %>

    <%= render 'admin/deploy_groups/fields', form: form %>

    <hr>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= form.submit "Save", class: 'btn btn-default' %>
        | <%= link_to_delete([:admin, @deploy_group]) %>
        | <%= link_to_history @deploy_group %>
      </div>
    </div>
  <% end %>
</section>
