<h1><%= @deploy_group.new_record? ? 'New' : 'Edit' %> Deploy Group</h1>

<section>
  <%= form_for [:admin, @deploy_group], html: { class: "form-horizontal" } do |form| %>
    <%= render 'shared/errors', object: @deploy_group %>

    <%= render 'admin/deploy_groups/fields', form: form %>

    <hr>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= form.submit "Save", class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</section>
