<h1>Deploy Groups</h1>

<section class="clearfix tabs">
  <div class="table table-hover table-condensed">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Environment</th>
        </tr>
      </thead>

      <tbody>
        <% @deploy_groups.each do |deploy_group| %>
          <tr>
            <td><%= deploy_group.id%></td>
            <td><%= deploy_group.name%></td>
            <td><%= deploy_group.environment.name %></td>
            <td>
              <%= link_to "Edit", edit_admin_deploy_group_path(deploy_group) %>
              |
              <%= link_to_delete([:admin, deploy_group]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="admin-actions">
    <div class="pull-right">
      <%= link_to "New", new_admin_deploy_group_path, class: "btn btn-default" %>
    </div>
  </div>

</section>
