<h1><%= @deploy_group.name %></h1>

<section class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">$DEPLOY_GROUPS value</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @deploy_group.env_value %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Environment</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @deploy_group.environment.name %></p>
    </div>
  </div>

  <%= Samson::Hooks.render_views(:deploy_group_show, self) %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= link_to "Edit", edit_admin_deploy_group_path(@deploy_group), class: "btn btn-primary" %>
      <%= link_to "Deploy all projects", deploy_all_admin_deploy_group_path(@deploy_group), class: "btn btn-default" if DeployGroup.enabled? %>
      <%= link_to "Back", admin_deploy_groups_path, class: "btn btn-default" %>
    </div>
  </div>
</section>
