<%= page_title @deploy_group.name %>

<section class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">$DEPLOY_GROUPS value</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= @deploy_group.env_value %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Environment</label>
    <div class="col-lg-4">
      <p class="form-control-static"><%= link_to @deploy_group.environment.name, [:admin, @deploy_group.environment] %></p>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 control-label">Used by</label>
    <div class="col-lg-10">
      <table class="table">
        <tr>
          <th>Project</th>
          <th>Stage</th>
          <th>Last Successful</th>
          <th>Template</th>
        </tr>
        <% @deploy_group.deploy_groups_stages.group_by { |dgs| dgs.stage.project }.each do |project, dgs_group| %>
          <% dgs_group.each do |dgs| %>
            <tr>
              <td><%= link_to project.name, project %></td>
              <td><%= link_to dgs.stage.name, [dgs.stage.project, dgs.stage] %></td>
              <td><%= dgs.stage.last_successful_deploy&.short_reference || 'NONE' %></td>
              <td><%= dgs.stage.template_stage&.last_successful_deploy&.short_reference %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <% if SecretStorage.backend == Samson::Secrets::HashicorpVaultBackend %>
    <div class="form-group">
      <label class="col-lg-2 control-label">Vault Server</label>
      <div class="col-lg-4">
        <p class="form-control-static">
          <% if vault_server = @deploy_group.vault_server %>
            <%= link_to vault_server.name, [:admin, vault_server] %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <%= Samson::Hooks.render_views(:deploy_group_show, self) %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= link_to "Edit", edit_admin_deploy_group_path(@deploy_group), class: "btn btn-primary" %>
      <% if DeployGroup.enabled? %>
        <%= link_to "Create Stages ...",
                    create_all_stages_preview_admin_deploy_group_path(@deploy_group),
                    class: "btn btn-default"
        %>
        <%= link_to "Deploy All Projects",
                    deploy_all_admin_deploy_group_path(@deploy_group),
                    class: "btn btn-default",
                    data: {
                        method: "post",
                        confirm: "Deploys will be started for all stages."
                    }
        %>
        <%= link_to "Deploy Missing Projects",
                    deploy_all_admin_deploy_group_path(@deploy_group, missing_only: "true"),
                    class: "btn btn-default",
                    data: {
                        method: "post",
                        confirm: "Deploys will be started for any stages that haven't yet been deployed or have failed all their deploys."
                    }
        %>
        <% cloned_stage_count = @deploy_group.stages.cloned.count %>
        <%= link_to "Merge #{cloned_stage_count} Cloned Stages",
                    merge_all_stages_admin_deploy_group_path(@deploy_group),
                    class: "btn btn-default #{ 'disabled' if cloned_stage_count.zero? }",
                    data: {
                      method: "post",
                      confirm: "Stages will be deleted. Before deleting, each stage will have its Deploy Group added to the stage it was copied from. Stages affected are those cloned from a template stage, have exactly this deploy group, and are on a project that uses include_new_deploy_groups.\n\n" +
                               "Merge #{@deploy_group.stages.cloned.count} cloned stages now?"
                    }
        %>
        <%= link_to "Delete #{cloned_stage_count} Cloned Stages",
                    delete_all_stages_admin_deploy_group_path(@deploy_group),
                    class: "btn btn-default #{ 'disabled' if cloned_stage_count.zero? }",
                    data: {
                        method: "post",
                        confirm: "Cloned stages will be deleted. No stages will be merged into their templates. You will need to create a new stage to deploy the project to this deploy group."
                    }
        %>
      <% end %>
    </div>
    <br>
    <div class="col-lg-offset-2 col-lg-10" style="margin-top: 10px;">
      <%= link_to "Back", admin_deploy_groups_path, class: "btn btn-default" %> | <%= link_to_history @deploy_group %>
    </div>
  </div>
</section>
