<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ZendeskPusher</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= controller_action %>" >
    <div class="wrap">
      <%= render "shared/header" %>
      <div class="container">
        <%= render "shared/alerts" %>
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
