<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:page_title) || "Samson" %></title>
    <%= csrf_meta_tags %>
    <%=  favicon_link_tag(content_for(:favicon_path) || 'favicons/32x32_light.png', type: 'image/png', id: 'favicon') %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= Samson::Hooks.render_stylesheets(self) %>
    <%= javascript_include_tag "application" %>
    <%= Samson::Hooks.render_javascripts(self) %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="environment" content="<%= Rails.env %>">
  </head>

  <body class="<%= controller_action %>">
    <div class="wrap">
      <%= render "layouts/header" %>
      <div class="container">
        <%= render "layouts/alerts" %>

        <% Samson::RepoProviderStatus.errors.each do |error| %>
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= autolink(error).html_safe %></li><br/>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
